In [4]:
#import required libraries

import pandas as pd
import yfinance as yf
import numpy as np
import math
#import pandas_ta as ta
import warnings
warnings.filterwarnings('ignore')

In [5]:
# parameter setup (default values in the original indicator)
length = 20
mult = 2
length_KC = 21
mult_KC = 2

In [28]:
stock = yf.Ticker("NFLX")
print(stock.info)

{'zip': '95032', 'sector': 'Communication Services', 'fullTimeEmployees': 9400, 'longBusinessSummary': 'Netflix, Inc. provides entertainment services. It offers TV series, documentaries, and feature films across various genres and languages. The company provides members the ability to receive streaming content through a host of Internet-connected devices, including TVs, digital video players, television set-top boxes, and mobile devices. It also provides DVDs-by-mail membership services. The company has approximately 204 million paid members in 190 countries. Netflix, Inc. was founded in 1997 and is headquartered in Los Gatos, California.', 'city': 'Los Gatos', 'phone': '408-540-3700', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.netflix.com', 'maxAge': 1, 'address1': '100 Winchester Circle', 'industry': 'Entertainment', 'ebitdaMargins': 0.22517, 'profitMargins': 0.15921, 'grossMargins': 0.42290002, 'operatingCashflow': 1839593984, 'revenueGrowth': 0.194, 'operatingMargins': 0.22027999, 'ebitda': 6211297792, 'targetLowPrice': 340, 'recommendationKey': 'buy', 'grossProfits': 9719737000, 'freeCashflow': 14203352064, 'targetMedianPrice': 618.5, 'currentPrice': 524.89, 'earningsGrowth': 0.868, 'currentRatio': 1.226, 'returnOnAssets': 0.097200006, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 613.68, 'debtToEquity': 129.424, 'returnOnEquity': 0.37862998, 'targetHighPrice': 1154, 'totalCash': 7777529856, 'totalDebt': 17943123968, 'totalRevenue': 27585138688, 'totalCashPerShare': 17.573, 'financialCurrency': 'USD', 'revenuePerShare': 62.334, 'quickRatio': 1.092, 'recommendationMean': 2, 'exchange': 'NMS', 'shortName': 'Netflix, Inc.', 'longName': 'Netflix, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'NFLX', 'messageBoardId': 'finmb_32012', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 8.669, 'beta3Year': None, 'enterpriseToEbitda': 38.501, '52WeekChange': 0.04572189, 'morningStarRiskRating': None, 'forwardEps': 12.96, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 442596000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 31.324, 'sharesShort': 9731049, 'sharesPercentSharesOut': 0.022, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.82164, 'netIncomeToCommon': 4391860224, 'trailingEps': 9.651, 'lastDividendValue': None, 'SandP52WeekChange': 0.31372488, 'priceToBook': 16.756802, 'heldPercentInsiders': 0.0152900005, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 2.75, 'sharesShortPreviousMonthDate': 1623715200, 'floatShares': 436753622, 'beta': 0.751479, 'enterpriseValue': 239142584320, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1436918400, 'lastSplitFactor': '7:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.879, 'priceToSalesTrailing12Months': 8.421717, 'dateShortInterest': 1626307200, 'pegRatio': 1.16, 'ytdReturn': None, 'forwardPE': 40.500774, 'lastCapGain': None, 'shortPercentOfFloat': 0.0224, 'sharesShortPriorMonth': 8930701, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 517.35, 'regularMarketOpen': 517.13, 'twoHundredDayAverage': 522.7646, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 525.41, 'navPrice': None, 'averageDailyVolume10Day': 2304957, 'regularMarketPreviousClose': 517.35, 'fiftyDayAverage': 523.6053, 'trailingAnnualDividendRate': None, 'open': 517.13, 'toCurrency': None, 'averageVolume10days': 2304957, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 514.02, 'currency': 'USD', 'trailingPE': 54.38711, 'regularMarketVolume': 2556687, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 232314224640, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 3457947, 'dayLow': 514.02, 'ask': 524.99, 'askSize': 1100, 'volume': 2556687, 'fiftyTwoWeekHigh': 593.29, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 458.6, 'bid': 524.89, 'tradeable': False, 'dividendYield': None, 'bidSize': 1000, 'dayHigh': 525.41, 'regularMarketPrice': 524.89, 'logo_url': 'https://logo.clearbit.com/netflix.com'}

In [29]:
stock_df = stock.history(period="3y", interval='1d')
stock_df.index.duplicated().sum()
df_stock = stock_df.loc[~stock_df.index.duplicated(keep='first')]
df_stock

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-06,342.869995,351.980011,341.739990,350.920013,8198100,0,0
2018-08-07,353.230011,357.309998,349.010010,351.829987,7970900,0,0
2018-08-08,352.209991,352.290009,346.609985,347.609985,5394700,0,0
2018-08-09,347.959991,352.440002,345.820007,349.359985,4820300,0,0
2018-08-10,346.910004,349.100006,344.420013,345.869995,4328400,0,0
...,...,...,...,...,...,...,...
2021-07-30,512.690002,519.789978,510.959991,517.570007,2534900,0,0
2021-08-02,519.000000,519.849976,510.510010,515.150024,2096600,0,0
2021-08-03,514.390015,515.630005,505.369995,510.820007,2578100,0,0
2021-08-04,513.000000,517.979980,510.369995,517.349976,2038300,0,0
2021-08-05,517.130005,525.409973,514.020020,524.890015,2556687,0,0

In [30]:
stock_df_wk = stock.history(period="3y", interval='1wk')
stock_df.index.duplicated().sum()
df_stock_wk = stock_df_wk.loc[~stock_df_wk.index.duplicated(keep='first')]
df_stock_wk

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-06,342.869995,357.309998,341.739990,345.869995,30712400,0,0
2018-08-13,339.890015,347.190002,312.959991,316.779999,41576200,0,0
2018-08-20,314.640015,359.149994,310.929993,358.820007,63370500,0,0
2018-08-27,367.149994,376.809998,360.000000,367.679993,53693000,0,0
2018-09-03,366.470001,368.880005,335.829987,348.679993,42854000,0,0
...,...,...,...,...,...,...,...
2021-07-12,540.299988,557.539978,527.049988,530.309998,18342400,0,0
2021-07-19,526.049988,536.640015,504.660004,515.409973,30871600,0,0
2021-07-26,514.380005,524.469971,509.010010,517.570007,11674900,0,0
2021-08-02,519.000000,519.849976,505.369995,517.349976,6713000,0,0
2021-08-05,517.130005,525.409973,514.020020,524.890015,2556687,0,0

In [31]:
stock_df_mo = stock.history(period="10y", interval='1mo')
stock_df_mo.index.duplicated().sum()
df_stock_mo = stock_df_mo.loc[~stock_df_mo.index.duplicated(keep='first')]
df_stock_mo

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2011-09-01,33.504288,34.071430,15.375714,16.181429,1.679588e+09,0,0.0
2011-10-01,16.448570,18.357143,10.607143,11.725714,1.691083e+09,0,0.0
2011-11-01,11.444286,13.405714,8.910000,9.218571,1.053462e+09,0,0.0
2011-12-01,9.202857,11.084286,9.142857,9.898571,8.420356e+08,0,0.0
2012-01-01,10.040000,18.497143,10.018571,17.171429,1.829323e+09,0,0.0
...,...,...,...,...,...,...,...
2021-05-01,512.650024,518.950012,478.540009,502.809998,6.692760e+07,0,0.0
2021-06-01,504.010010,536.130005,482.140015,528.210022,7.856060e+07,0,0.0
2021-07-01,525.719971,557.539978,504.660004,517.570007,7.721900e+07,0,0.0
2021-08-01,519.000000,519.849976,505.369995,517.349976,6.714300e+06,0,0.0
2021-08-05,517.130005,525.409973,514.020020,524.890015,2.556687e+06,0,0.0

In [32]:
# calculate Bollinger Bands
# moving average
#m_avg = df_stock['Close'].rolling(window=length).mean()
m_avg = df_stock['Close'].ewm(span=length).mean()
df_stock['Moving average'] = m_avg
# standard deviation
m_std = df_stock['Close'].rolling(window=length).std()
# upper Bollinger Bands
df_stock['upper_BB'] = m_avg + mult * m_std
# lower Bollinger Bands 
df_stock['lower_BB'] = m_avg - mult * m_std

In [33]:
#Stacked Moving averages
m_avg_08 = df_stock['Close'].ewm(span=8).mean()
m_avg_21 = df_stock['Close'].ewm(span=21).mean()
m_avg_34 = df_stock['Close'].ewm(span=34).mean()
m_avg_55 = df_stock['Close'].ewm(span=55).mean()
m_avg_89 = df_stock['Close'].ewm(span=89).mean()

df_stock['m_avg_08'] = m_avg_08
df_stock['m_avg_21'] = m_avg_21
df_stock['m_avg_34'] = m_avg_34
df_stock['m_avg_55'] = m_avg_55
df_stock['m_avg_89'] = m_avg_89

In [34]:
# calculate Keltner Channel
# first we need to calculate True Range
df_stock['tr0'] = abs(df_stock["High"] - df_stock["Low"])
df_stock['tr1'] = abs(df_stock["High"] - df_stock["Close"].shift())
df_stock['tr2'] = abs(df_stock["Low"] - df_stock["Close"].shift())
df_stock['tr'] = df_stock[['tr0', 'tr1', 'tr2']].max(axis=1)
# moving average of the TR
range_ma = df_stock['tr'].ewm(span=length_KC).mean()
# upper Keltner Channel
df_stock['upper_KC'] = m_avg + range_ma * mult_KC
# lower Keltner Channel
df_stock['lower_KC'] = m_avg - range_ma * mult_KC

In [35]:
#ADX Calculations

plus_dm = df_stock["High"].diff()
minus_dm = df_stock["Low"].diff()
plus_dm[plus_dm < 0] = 0
minus_dm[minus_dm > 0] = 0

df_stock['atr'] = df_stock['tr'].ewm(span=14).mean()
df_stock['plus_di'] = 100 * (plus_dm.ewm(alpha = 1/14).mean() / df_stock['atr'])
df_stock['minus_di'] = abs(100 * (minus_dm.ewm(alpha = 1/14).mean() / df_stock['atr']))
dx = (abs(df_stock['plus_di'] - df_stock['minus_di']) / abs(df_stock['plus_di'] + df_stock['minus_di'])) * 100
adx = ((dx.shift(1) * (14 - 1)) + dx) / 14
df_stock['adx'] = adx.ewm(alpha = 1/14).mean()

In [36]:
# check for 'squeeze'
df_stock['squeeze_on'] = (df_stock['lower_BB'] > df_stock['lower_KC']) & (df_stock['upper_BB'] < df_stock['upper_KC'])
df_stock['squeeze_off'] = (df_stock['lower_BB'] < df_stock['lower_KC']) & (df_stock['upper_BB'] > df_stock['upper_KC'])

In [37]:
# Momentum
highest = df_stock['High'].rolling(window = length_KC).max()
lowest = df_stock['Low'].rolling(window = length_KC).min()
m1 = (highest + lowest) / 2
df_stock['value'] = (df_stock['Close'] - (m1 + m_avg)/2)
fit_y = np.array(range(0,length_KC))
df_stock['value'] = df_stock['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y, x, 1)[0] * (length_KC-1) +
   np.polyfit(fit_y, x, 1)[1], raw=True)

df_stock[['squeeze_on', 'squeeze_off']] = (df_stock[['squeeze_on', 'squeeze_off']] == True).astype(int)

df_stock["pct_change"] = df_stock['Close'].pct_change()*100

"""
conditions = [
    (df_stock['pct_change'] > 0) | (df_stock['squeeze_on'] == 1),
    (df_stock['pct_change'] < 0) | (df_stock['squeeze_on'] == 0)
]
"""
conditions =  [
    (df_stock['pct_change'] > 0),
    (df_stock['pct_change'] < 0)
]

label = [1, 0]
df_stock['profitable?'] = np.select(conditions, label) 
df_stock.dropna(inplace=True)
df_stock.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average,upper_BB,lower_BB,...,lower_KC,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?
Date,,,,,,,,,,,,,,,,,,,,,
2021-07-30,512.690002,519.789978,510.959991,517.570007,2534900,0,0,522.070453,544.883703,499.257203,...,499.615063,11.010184,19.224491,20.656649,19.658578,0,1,-16.177934,0.645602,1
2021-08-02,519.000000,519.849976,510.510010,515.150024,2096600,0,0,521.411365,544.803432,498.019297,...,499.299198,10.787489,18.259561,19.875100,18.514191,0,1,-17.621631,-0.467566,0
2021-08-03,514.390015,515.630005,505.369995,510.820007,2578100,0,0,520.402664,543.923907,496.881421,...,498.435238,10.717158,17.066574,22.002321,17.537191,0,1,-19.399506,-0.840535,0
2021-08-04,513.000000,517.979980,510.369995,517.349976,2038300,0,0,520.111932,543.433485,496.790378,...,498.757911,10.302868,18.113990,21.252268,17.163141,0,1,-19.015453,1.278331,1
2021-08-05,517.130005,525.409973,514.020020,524.890015,2556687,0,0,520.566987,543.730321,497.403653,...,499.083341,10.447813,21.666448,19.460472,16.493324,0,1,-17.546889,1.457435,1

In [38]:
# entry point for long position:
# 1. black cross becomes gray (the squeeze is released)
long_cond1 = (df_stock['squeeze_off'][-2] == 0) | (df_stock['squeeze_off'][-1] == 1) 
# 2. bar value is positive => the bar is light green
long_cond2 = df_stock['value'][-1] > 0

enter_long = long_cond1 and long_cond2
# entry point for short position:
# 1. black cross becomes gray (the squeeze is released)
short_cond1 = (df_stock['squeeze_off'][-2] == 0) | (df_stock['squeeze_off'][-1] == 1) 
# 2. bar value is negative => the bar is light red 
short_cond2 = df_stock['value'][-1] < 0
enter_short = short_cond1 and short_cond2

In [39]:
import mplfinance as mpf
%matplotlib widget

In [40]:
ohcl = df_stock[['Open', 'High', 'Close', 'Low']]
ohcl.head()

                  Open        High       Close         Low
Date
2018-10-02  384.380005  386.799988  377.140015  373.829987
2018-10-03  378.529999  380.929993  377.049988  374.880005
2018-10-04  375.880005  375.920013  363.649994  360.399994
2018-10-05  359.769989  363.500000  351.350006  343.000000
2018-10-08  345.179993  352.950012  349.100006  338.109985

In [41]:
# add colors for the 'value bar'
colors = []
for ind, val in enumerate(df_stock['value']):
  if val >= 0:
    color = 'blue'
    if val > df_stock['value'][ind-1]:
      color = 'cyan'
  else:
    color = 'yellow'
    if val < df_stock['value'][ind-1]:
      color='red'
  colors.append(color)

In [42]:
# add 2 subplots: 1. bars, 2. crosses
apds = [mpf.make_addplot(df_stock['value'], panel=1, type='bar', color=colors, alpha=0.8, secondary_y=False),
        mpf.make_addplot([0] * len(df_stock), panel=1, type='scatter', marker='o', markersize=50, color=['gray' if s else 'red' for s in df_stock['squeeze_off']], secondary_y=False),
        mpf.make_addplot(df_stock[['upper_BB']], color = 'red'),
        mpf.make_addplot(df_stock[['lower_BB']], color = 'red'),
        mpf.make_addplot(df_stock[['upper_KC']], color = 'blue'),
        mpf.make_addplot(df_stock[['lower_KC']], color = 'blue'),
        mpf.make_addplot(df_stock['Moving average'], color = 'black'),
        mpf.make_addplot(df_stock[['adx']], panel=2, color = 'purple', secondary_y=False),
        mpf.make_addplot(df_stock[['plus_di']], panel=2, color = 'green', secondary_y=False),
        mpf.make_addplot(df_stock[['minus_di']], panel=2, color = 'orange', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_08'], panel=3, color='red', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_21'], panel=3, color='orange', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_34'], panel=3, color='yellow', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_55'], panel=3, color='green', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_89'], panel=3, color='blue', secondary_y=False)]

# plot ohcl with subplots
fig, axes = mpf.plot(ohcl, 
              volume_panel = 2,
              figratio=(2,1),
              figscale=1,
              type='candle', 
              addplot=apds,
              returnfig=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [43]:
#checks the momentum based on the EMA's stacking
#If smaller EMA's stack above the larger, the momentum is positive, vice versa, negative
def momentum_checker(date):
    if (df_stock['m_avg_08'][date] > df_stock['m_avg_21'][date] > df_stock['m_avg_34'][date] > df_stock['m_avg_55'][date] > df_stock['m_avg_89'][date]):
        print('Positive momentum')
    elif (df_stock['m_avg_08'][date] < df_stock['m_avg_21'][date] < df_stock['m_avg_34'][date] < df_stock['m_avg_55'][date] < df_stock['m_avg_89'][date]):
        print('Negative momentum')
    else:
        print('neutral')

In [44]:
momentum_checker('2021-08-05')

neutral

In [45]:
#construct a squeeze enty signal
def squeeze_entry(date):
    if (df_stock["value"][date]> -25 & df_stock["squeeze_on"][date] == 1):
        print("enter")
    else:
        print("do not enter")

In [46]:
squeeze_entry('2021-06-10')

enter

Weekly Analysis

In [18]:
# calculate Bollinger Bands on weekly data
# moving average
#m_avg = df_stock['Close'].rolling(window=length).mean()
m_avg_wk = df_stock_wk['Close'].ewm(span=length).mean()
df_stock_wk['Moving average weekly'] = m_avg_wk
# standard deviation
m_std_wk = df_stock_wk['Close'].rolling(window=length).std(ddof=0)
# upper Bollinger Bands
df_stock_wk['upper_BB'] = m_avg_wk + mult * m_std_wk
# lower Bollinger Bands 
df_stock_wk['lower_BB'] = m_avg_wk - mult * m_std_wk

In [19]:
#Stacked Moving averages weekly
m_avg_08_wk = df_stock_wk['Close'].ewm(span=8).mean()
m_avg_21_wk = df_stock_wk['Close'].ewm(span=21).mean()
m_avg_34_wk = df_stock_wk['Close'].ewm(span=34).mean()
m_avg_55_wk = df_stock_wk['Close'].ewm(span=55).mean()
m_avg_89_wk = df_stock_wk['Close'].ewm(span=89).mean()

df_stock_wk['m_avg_08'] = m_avg_08_wk
df_stock_wk['m_avg_21'] = m_avg_21_wk
df_stock_wk['m_avg_34'] = m_avg_34_wk
df_stock_wk['m_avg_55'] = m_avg_55_wk
df_stock_wk['m_avg_89'] = m_avg_89_wk

In [20]:
# calculate Keltner Channel weekly
# first we need to calculate True Range
df_stock_wk['tr0'] = abs(df_stock_wk["High"] - df_stock_wk["Low"])
df_stock_wk['tr1'] = abs(df_stock_wk["High"] - df_stock_wk["Close"].shift())
df_stock_wk['tr2'] = abs(df_stock_wk["Low"] - df_stock_wk["Close"].shift())
df_stock_wk['tr'] = df_stock_wk[['tr0', 'tr1', 'tr2']].max(axis=1)
# moving average of the TR
range_ma_wk = df_stock_wk['tr'].ewm(span=length_KC).mean()
# upper Keltner Channel
df_stock_wk['upper_KC'] = m_avg_wk + range_ma_wk * mult_KC
# lower Keltner Channel
df_stock_wk['lower_KC'] = m_avg_wk - range_ma_wk * mult_KC

In [21]:
#ADX Calculations weekly

plus_dm_wk = df_stock_wk["High"].diff()
minus_dm_wk = df_stock_wk["Low"].diff()
plus_dm_wk[plus_dm_wk < 0] = 0
minus_dm_wk[minus_dm_wk > 0] = 0

df_stock_wk['atr'] = df_stock_wk['tr'].ewm(span=14).mean()
df_stock_wk['plus_di'] = 100 * (plus_dm_wk.ewm(alpha = 1/14).mean() / df_stock_wk['atr'])
df_stock_wk['minus_di'] = abs(100 * (minus_dm_wk.ewm(alpha = 1/14).mean() / df_stock_wk['atr']))
dx_wk = (abs(df_stock_wk['plus_di'] - df_stock_wk['minus_di']) / abs(df_stock_wk['plus_di'] + df_stock_wk['minus_di'])) * 100
adx_wk = ((dx_wk.shift(1) * (14 - 1)) + dx_wk) / 14
df_stock_wk['adx'] = adx_wk.ewm(alpha = 1/14).mean()

In [22]:
# check for 'squeeze' weekly
df_stock_wk['squeeze_on'] = (df_stock_wk['lower_BB'] > df_stock_wk['lower_KC']) & (df_stock_wk['upper_BB'] < df_stock_wk['upper_KC'])
df_stock_wk['squeeze_off'] = (df_stock_wk['lower_BB'] < df_stock_wk['lower_KC']) & (df_stock_wk['upper_BB'] > df_stock_wk['upper_KC'])

In [23]:
# Momentum weekly
highest_wk = df_stock_wk['High'].rolling(window = length_KC).max()
lowest_wk = df_stock_wk['Low'].rolling(window = length_KC).min()
m1_wk = (highest_wk + lowest_wk) / 2
df_stock_wk['value'] = (df_stock_wk['Close'] - (m1_wk + m_avg_wk)/2)
fit_y_wk = np.array(range(0,length_KC))
df_stock_wk['value'] = df_stock_wk['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_wk, x, 1)[0] * (length_KC-1) +
   np.polyfit(fit_y_wk, x, 1)[1], raw=True)

df_stock_wk[['squeeze_on', 'squeeze_off']] = (df_stock_wk[['squeeze_on', 'squeeze_off']] == True).astype(int)

df_stock_wk["pct_change"] = df_stock_wk['Close'].pct_change()

"""
conditions = [
    (df_stock['pct_change'] > 0) | (df_stock['squeeze_on'] == 1),
    (df_stock['pct_change'] < 0) | (df_stock['squeeze_on'] == 0)
]
"""
conditions_wk =  [
    (df_stock_wk['pct_change'] > 0),
    (df_stock_wk['pct_change'] < 0)
]

label = [1, 0]
df_stock_wk['profitable?'] = np.select(conditions_wk, label) 
df_stock_wk.dropna(inplace=True)
df_stock_wk

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average weekly,upper_BB,lower_BB,...,lower_KC,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-13,1836.560059,1917.510010,1815.750000,1869.000000,24549500,0,0,1784.482206,2028.895809,1540.068603,...,1590.896329,90.535354,28.991619,20.286524,22.139023,0,1,260.067149,-0.011101,0
2019-05-20,1852.689941,1879.000000,1804.199951,1823.280029,18533900,0,0,1788.233290,2022.936162,1553.530417,...,1598.720496,88.432153,27.454368,20.190720,21.789063,0,1,235.072943,-0.024462,0
2019-05-27,1832.750000,1849.270020,1772.699951,1775.069946,15244700,0,0,1786.962456,2016.097252,1557.827660,...,1600.812085,86.847172,25.865630,21.733699,21.262954,0,1,203.213196,-0.026441,0
2019-06-03,1760.010010,1806.250000,1672.000000,1804.030029,27515100,0,0,1788.608069,2016.633311,1560.582827,...,1594.856659,93.179218,22.311721,26.799520,20.324815,0,1,181.460882,0.016315,1
2019-06-10,1822.000000,1893.699951,1818.000000,1869.670044,17739000,0,0,1796.414655,2024.539676,1568.289635,...,1603.991612,92.710563,27.765178,24.934319,19.471283,0,1,175.076461,0.036385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-12,3744.000000,3773.080078,3570.459961,3573.629883,16937800,0,0,3358.914720,3728.246582,2989.582858,...,3023.114200,167.137717,32.195511,12.134547,22.557325,0,1,253.772801,-0.039176,0
2021-07-19,3532.580078,3666.110107,3499.159912,3656.639893,15061000,0,0,3387.269504,3758.356256,3016.182752,...,3051.641723,167.112714,29.900279,14.317064,24.127431,0,1,273.639591,0.023228,1
2021-07-26,3673.169922,3712.080078,3306.979980,3327.590088,25508500,0,0,3381.585749,3734.598256,3028.573242,...,3002.815006,198.844365,24.985194,18.076409,24.823408,1,0,220.853948,-0.089987,0
2021-08-02,3353.100098,3391.000000,3299.770020,3354.719971,9686300,0,0,3379.027103,3708.415326,3049.638880,...,3018.102801,184.495780,25.004869,18.369784,24.192488,1,0,179.732033,0.008153,1
2021-08-05,3356.219971,3389.000000,3340.919922,3383.784912,1555287,0,0,3379.480228,3675.719136,3083.241319,...,3042.625400,166.307020,25.758197,18.923215,23.557100,1,0,142.201168,0.008664,1

In [24]:
# entry point for long position:
# 1. black cross becomes gray (the squeeze is released)
long_cond1_wk = (df_stock_wk['squeeze_off'][-2] == 0) | (df_stock_wk['squeeze_off'][-1] == 1) 
# 2. bar value is positive => the bar is light green
long_cond2_wk = df_stock_wk['value'][-1] > 0

enter_long_wk = long_cond1_wk and long_cond2_wk
# entry point for short position:
# 1. black cross becomes gray (the squeeze is released)
short_cond1_wk = (df_stock_wk['squeeze_off'][-2] == 0) | (df_stock_wk['squeeze_off'][-1] == 1) 
# 2. bar value is negative => the bar is light red 
short_cond2_wk = df_stock_wk['value'][-1] < 0
enter_short_wk = short_cond1_wk and short_cond2_wk

In [25]:
ohcl_wk = df_stock_wk[['Open', 'High', 'Close', 'Low']]
ohcl_wk.head()

                   Open         High        Close          Low
Date
2019-05-13  1836.560059  1917.510010  1869.000000  1815.750000
2019-05-20  1852.689941  1879.000000  1823.280029  1804.199951
2019-05-27  1832.750000  1849.270020  1775.069946  1772.699951
2019-06-03  1760.010010  1806.250000  1804.030029  1672.000000
2019-06-10  1822.000000  1893.699951  1869.670044  1818.000000

In [26]:
# add colors for the 'value bar'
colors = []
for ind, val in enumerate(df_stock_wk['value']):
  if val >= 0:
    color = 'blue'
    if val > df_stock_wk['value'][ind-1]:
      color = 'cyan'
  else:
    color = 'yellow'
    if val < df_stock_wk['value'][ind-1]:
      color='red'
  colors.append(color)

In [27]:
# add 2 subplots: 1. bars, 2. crosses
apds = [mpf.make_addplot(df_stock_wk['value'], panel=1, type='bar', color=colors, alpha=0.8, secondary_y=False),
        mpf.make_addplot([0] * len(df_stock_wk), panel=1, type='scatter', marker='o', markersize=50, color=['gray' if s else 'red' for s in df_stock_wk['squeeze_off']], secondary_y=False),
        mpf.make_addplot(df_stock_wk[['upper_BB']], color = 'red'),
        mpf.make_addplot(df_stock_wk[['lower_BB']], color = 'red'),
        mpf.make_addplot(df_stock_wk[['upper_KC']], color = 'blue'),
        mpf.make_addplot(df_stock_wk[['lower_KC']], color = 'blue'),
        mpf.make_addplot(df_stock_wk['Moving average weekly'], color = 'black'),
        mpf.make_addplot(df_stock_wk[['adx']], panel=2, color = 'purple', secondary_y=False),
        mpf.make_addplot(df_stock_wk[['plus_di']], panel=2, color = 'green', secondary_y=False),
        mpf.make_addplot(df_stock_wk[['minus_di']], panel=2, color = 'orange', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_08'], panel=3, color='red', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_21'], panel=3, color='orange', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_34'], panel=3, color='yellow', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_55'], panel=3, color='green', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_89'], panel=3, color='blue', secondary_y=False)]

# plot ohcl with subplots
fig, axes = mpf.plot(ohcl_wk, 
              volume_panel = 2,
              figratio=(2,1),
              figscale=1,
              type='candle', 
              addplot=apds,
              returnfig=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [28]:
# calculate Bollinger Bands on monthly data
# moving average
#m_avg = df_stock['Close'].rolling(window=length).mean()
m_avg_mo = df_stock_mo['Close'].ewm(span=length).mean()
df_stock_mo['Moving average monthly'] = m_avg_mo
# standard deviation
m_std_mo = df_stock_mo['Close'].rolling(window=length).std()
# upper Bollinger Bands
df_stock_mo['upper_BB'] = m_avg_mo + mult * m_std_mo
# lower Bollinger Bands 
df_stock_mo['lower_BB'] = m_avg_mo - mult * m_std_mo
df_stock_mo.head()
df_stock_mo.dropna(inplace=True)

In [29]:
df_stock_mo.isnull().sum()

Open                      0
High                      0
Low                       0
Close                     0
Volume                    0
Dividends                 0
Stock Splits              0
Moving average monthly    0
upper_BB                  0
lower_BB                  0
dtype: int64

In [30]:
#Stacked Moving averages monthly 
m_avg_08_mo = df_stock_mo['Close'].ewm(span=8).mean()
m_avg_21_mo = df_stock_mo['Close'].ewm(span=21).mean()
m_avg_34_mo = df_stock_mo['Close'].ewm(span=34).mean()
m_avg_55_mo = df_stock_mo['Close'].ewm(span=55).mean()
m_avg_89_mo = df_stock_mo['Close'].ewm(span=89).mean()

df_stock_mo['m_avg_08'] = m_avg_08_mo
df_stock_mo['m_avg_21'] = m_avg_21_mo
df_stock_mo['m_avg_34'] = m_avg_34_mo
df_stock_mo['m_avg_55'] = m_avg_55_mo
df_stock_mo['m_avg_89'] = m_avg_89_mo

In [31]:
# calculate Keltner Channel monthly
# first we need to calculate True Range
df_stock_mo['tr0'] = abs(df_stock_mo["High"] - df_stock_mo["Low"])
df_stock_mo['tr1'] = abs(df_stock_mo["High"] - df_stock_mo["Close"].shift())
df_stock_mo['tr2'] = abs(df_stock_mo["Low"] - df_stock_mo["Close"].shift())
df_stock_mo['tr'] = df_stock_mo[['tr0', 'tr1', 'tr2']].max(axis=1)
# moving average of the TR
range_ma_mo = df_stock_mo['tr'].ewm(span=length_KC).mean()
# upper Keltner Channel
df_stock_mo['upper_KC'] = m_avg_mo + range_ma_mo * mult_KC
# lower Keltner Channel
df_stock_mo['lower_KC'] = m_avg_mo - range_ma_mo * mult_KC
df_stock_mo.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average monthly,upper_BB,lower_BB,...,m_avg_21,m_avg_34,m_avg_55,m_avg_89,tr0,tr1,tr2,tr,upper_KC,lower_KC
Date,,,,,,,,,,,,,,,,,,,,,
2021-05-01,3484.729980,3486.649902,3127.370117,3223.070068,75183900,0,0,2800.725861,4037.360208,1564.091515,...,2772.257596,2452.534744,2108.528764,1815.393529,359.279785,19.229980,340.049805,359.279785,3514.378783,2087.072940
2021-06-01,3243.500000,3524.860107,3172.199951,3440.159912,67011000,0,0,2861.624795,4056.264249,1666.985341,...,2832.980836,2509.137570,2157.422447,1855.874996,352.660156,301.790039,50.870117,352.660156,3574.520146,2148.729444
2021-07-01,3434.610107,3773.080078,3306.979980,3327.590088,83720800,0,0,2906.002740,4025.715476,1786.290004,...,2877.948576,2556.036829,2200.344607,1892.444667,466.100098,332.920166,133.179932,466.100098,3638.836342,2173.169138
2021-08-01,3353.100098,3391.000000,3299.770020,3354.719971,9693000,0,0,2948.737974,3977.339363,1920.136586,...,2921.294290,2601.795957,2242.646635,1928.684606,91.229980,63.409912,27.820068,91.229980,3631.534308,2265.941641
2021-08-05,3356.219971,3389.000000,3340.919922,3384.520020,1555468,0,0,2990.241255,3935.118662,2045.363848,...,2963.408245,2646.633997,2284.451622,1964.672776,48.080078,34.280029,13.800049,48.080078,3619.703828,2360.778681

In [32]:
#ADX Calculations monthly

plus_dm_mo = df_stock_mo["High"].diff()
minus_dm_mo = df_stock_mo["Low"].diff()
plus_dm_mo[plus_dm_mo < 0] = 0
minus_dm_mo[minus_dm_mo > 0] = 0

df_stock_mo['atr'] = df_stock_mo['tr'].ewm(span=14).mean()
df_stock_mo['plus_di'] = 100 * (plus_dm_mo.ewm(alpha = 1/14).mean() / df_stock_mo['atr'])
df_stock_mo['minus_di'] = abs(100 * (minus_dm_mo.ewm(alpha = 1/14).mean() / df_stock_mo['atr']))
dx_mo = (abs(df_stock_mo['plus_di'] - df_stock_mo['minus_di']) / abs(df_stock_mo['plus_di'] + df_stock_mo['minus_di'])) * 100
adx_mo = ((dx_mo.shift(1) * (14 - 1)) + dx_mo) / 14
df_stock_mo['adx'] = adx_mo.ewm(alpha = 1/14).mean()
df_stock_mo.dropna(inplace=True)
df_stock_mo.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average monthly,upper_BB,lower_BB,...,tr0,tr1,tr2,tr,upper_KC,lower_KC,atr,plus_di,minus_di,adx
Date,,,,,,,,,,,,,,,,,,,,,
2013-06-01,268.959991,283.339996,262.950012,277.690002,58575800,0,0,248.114994,311.639833,184.590154,...,20.389984,14.139984,6.250000,20.389984,296.868997,199.360990,24.265714,24.424020,5.575611,97.344915
2013-07-01,279.000000,313.619995,277.160004,301.220001,67536900,0,0,253.734987,320.717708,186.752266,...,36.459991,35.929993,0.529999,36.459991,309.419591,198.050383,27.996287,52.338739,3.101022,80.410050
2013-08-01,303.079987,306.209991,279.329987,280.980011,43773900,0,0,256.588058,318.166403,195.009713,...,26.880005,4.989990,21.890015,26.880005,311.811114,201.365002,27.705051,38.162674,2.261103,83.420980
2013-09-01,284.730011,320.570007,284.170013,312.640015,43468800,0,0,262.402634,326.185134,198.620134,...,36.399994,39.589996,3.190002,39.589996,322.626317,202.178952,30.455015,37.585251,1.582433,84.984108
2013-10-01,314.220001,368.399994,296.500000,364.029999,77295400,0,0,272.856169,345.890555,199.821784,...,71.899994,55.759979,16.140015,71.899994,348.686245,197.026093,39.188351,47.684165,0.985062,86.650478

In [33]:
# check for 'squeeze' monthly
df_stock_mo['squeeze_on'] = (df_stock_mo['lower_BB'] > df_stock_mo['lower_KC']) & (df_stock_mo['upper_BB'] < df_stock_mo['upper_KC'])
df_stock_mo['squeeze_off'] = (df_stock_mo['lower_BB'] < df_stock_mo['lower_KC']) & (df_stock_mo['upper_BB'] > df_stock_mo['upper_KC'])
df_stock_mo.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average monthly,upper_BB,lower_BB,...,tr2,tr,upper_KC,lower_KC,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off
Date,,,,,,,,,,,,,,,,,,,,,
2013-06-01,268.959991,283.339996,262.950012,277.690002,58575800,0,0,248.114994,311.639833,184.590154,...,6.250000,20.389984,296.868997,199.360990,24.265714,24.424020,5.575611,97.344915,False,True
2013-07-01,279.000000,313.619995,277.160004,301.220001,67536900,0,0,253.734987,320.717708,186.752266,...,0.529999,36.459991,309.419591,198.050383,27.996287,52.338739,3.101022,80.410050,False,True
2013-08-01,303.079987,306.209991,279.329987,280.980011,43773900,0,0,256.588058,318.166403,195.009713,...,21.890015,26.880005,311.811114,201.365002,27.705051,38.162674,2.261103,83.420980,False,True
2013-09-01,284.730011,320.570007,284.170013,312.640015,43468800,0,0,262.402634,326.185134,198.620134,...,3.190002,39.589996,322.626317,202.178952,30.455015,37.585251,1.582433,84.984108,False,True
2013-10-01,314.220001,368.399994,296.500000,364.029999,77295400,0,0,272.856169,345.890555,199.821784,...,16.140015,71.899994,348.686245,197.026093,39.188351,47.684165,0.985062,86.650478,True,False

In [34]:
# Momentum monthly
highest_mo = df_stock_mo['High'].rolling(window = length_KC).max()
lowest_mo = df_stock_mo['Low'].rolling(window = length_KC).min()
m1_mo = (highest_mo + lowest_mo) / 2
df_stock_mo['value'] = (df_stock_mo['Close'] - (m1_mo + m_avg_mo)/2)
fit_y_mo = np.array(range(0,length_KC))
df_stock_mo['value'] = df_stock_mo['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_mo, x, 1)[0] * (length_KC-1) +
   np.polyfit(fit_y_mo, x, 1)[1], raw=True)

df_stock_mo[['squeeze_on', 'squeeze_off']] = (df_stock_mo[['squeeze_on', 'squeeze_off']] == True).astype(int)

df_stock_mo["pct_change"] = df_stock_mo['Close'].pct_change()
df_stock_mo.dropna(inplace=True)
"""
conditions = [
    (df_stock['pct_change'] > 0) | (df_stock['squeeze_on'] == 1),
    (df_stock['pct_change'] < 0) | (df_stock['squeeze_on'] == 0)
]
"""
conditions_mo =  [
    (df_stock_mo['pct_change'] > 0),
    (df_stock_mo['pct_change'] < 0)
]

label = [1, 0]
df_stock_mo['profitable?'] = np.select(conditions_mo, label) 

df_stock_mo

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average monthly,upper_BB,lower_BB,...,lower_KC,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?
Date,,,,,,,,,,,,,,,,,,,,,
2016-10-01,836.000000,847.210022,774.609985,789.820007,77063800,0,0,628.819022,900.123311,357.514734,...,493.772640,68.229838,39.672731,11.359952,46.718839,0,1,218.533621,-0.056717,0
2016-11-01,799.000000,800.840027,710.099976,750.570007,110085900,0,0,640.435574,894.550525,386.320623,...,501.103264,71.236741,35.167038,16.816882,47.265998,0,1,208.355842,-0.049695,0
2016-12-01,752.409973,782.460022,736.700012,749.869995,73660200,0,0,650.875153,891.058428,410.691879,...,515.949877,67.834410,34.187744,16.348584,46.374430,0,1,194.680767,-0.000933,0
2017-01-01,757.919983,843.840027,747.700012,823.479980,70614000,0,0,667.338326,897.866447,436.810204,...,527.133129,71.613722,36.333243,14.338826,45.594826,0,1,192.654525,0.098164,1
2017-02-01,829.210022,860.859985,803.000000,845.039978,71748300,0,0,684.285220,901.560464,467.009975,...,546.331481,69.777687,36.336498,13.629010,45.443460,0,1,190.961070,0.026182,1
2017-03-01,853.049988,890.349976,833.500000,886.539978,60710700,0,0,703.571185,927.021963,480.120406,...,567.845299,68.052199,37.705615,12.944766,45.461821,0,1,191.944428,0.049110,1
2017-04-01,888.000000,949.590027,884.489990,924.989990,73539700,0,0,724.682070,950.827078,498.537062,...,589.463282,67.658222,41.574438,12.062832,45.746433,0,1,198.232990,0.043371,1
2017-05-01,927.799988,1001.200012,927.799988,994.619995,76202000,0,0,750.416229,984.911885,515.920574,...,613.620256,68.799353,43.389067,10.992364,46.452237,0,1,207.404054,0.075276,1
2017-06-01,998.590027,1017.000000,927.000000,968.000000,96135400,0,0,771.157296,1018.215813,524.098780,...,630.403031,71.628020,40.239032,9.866877,47.420400,0,1,206.729215,-0.026764,0
2017-07-01,972.789978,1083.310059,951.000000,987.780029,78812400,0,0,791.804969,1053.488656,530.121281,...,639.710333,79.723707,39.590083,8.216922,48.412898,0,1,211.945747,0.020434,1
2017-08-01,996.109985,1006.400024,936.330017,980.599976,77391800,0,0,809.798799,1081.341489,538.256109,...,658.797948,78.435893,37.303543,9.107229,49.645602,0,1,215.439243,-0.007269,0
2017-09-01,984.200012,1000.000000,931.750000,961.349976,59291800,0,0,824.241942,1086.912019,561.571865,...,674.567065,77.077175,35.195164,9.025454,50.448029,0,1,214.098900,-0.019631,0
2017-10-01,964.000000,1122.790039,950.369995,1105.280029,83334100,0,0,851.023744,1114.346933,587.700555,...,683.512230,89.794413,37.961972,7.183536,51.131080,0,1,225.650318,0.149717,1
2017-11-01,1105.400024,1213.410034,1086.869995,1176.750000,77165000,0,0,882.062352,1158.740993,605.383711,...,706.734292,94.695452,40.335077,6.316791,52.395905,0,1,234.315383,0.064662,1
2017-12-01,1172.050049,1194.780029,1124.739990,1169.469971,57760200,0,0,909.448125,1198.046277,620.849973,...,737.338496,91.407121,38.753588,6.069117,53.887189,0,1,237.585216,-0.006187,0
2018-01-01,1172.000000,1472.579956,1170.510010,1450.890015,96371200,0,0,961.037230,1330.153822,591.920638,...,749.305568,119.641187,44.293542,4.300744,55.317033,0,1,274.987093,0.240639,1
2018-02-01,1445.000000,1528.699951,1265.930054,1512.449951,137784000,0,0,1013.574114,1450.080426,577.067801,...,773.211003,138.729127,38.362334,3.440419,57.279396,0,1,315.770688,0.042429,1
2018-03-01,1513.599976,1617.540039,1365.199951,1447.339966,130400100,0,0,1054.900368,1527.665447,582.135289,...,790.429256,153.880083,36.259770,2.877297,59.190068,0,1,331.233422,-0.043049,0
2018-04-01,1417.619995,1638.099976,1352.880005,1566.130005,129919600,0,0,1103.605135,1624.060482,583.149788,...,811.235378,171.394902,31.068494,2.916080,61.065937,0,1,362.896198,0.082075,1
2018-05-01,1563.219971,1635.000000,1546.020020,1629.619995,71615500,0,0,1153.716897,1725.264639,582.169155,...,871.776338,160.404705,30.799850,2.890865,62.639584,0,1,398.440328,0.040539,1
2018-06-01,1637.030029,1763.099976,1635.089966,1699.800049,85941300,0,0,1205.739007,1821.195783,590.282230,...,925.163689,156.814305,35.126198,2.743680,64.112038,0,1,436.768150,0.043065,1
2018-07-01,1682.699951,1880.050049,1678.060059,1777.439941,97521100,0,0,1260.200156,1912.094172,608.306139,...,968.381010,162.838364,36.566227,2.451665,65.665977,0,1,468.839273,0.045676,1
2018-08-01,1784.000000,2025.569946,1776.020020,2012.709961,96575800,0,0,1331.883763,2048.599912,615.167614,...,1021.182411,174.400962,37.694157,2.124176,67.245274,0,1,519.801890,0.132365,1
2018-09-01,2026.500000,2050.500000,1865.000000,2003.000000,94445500,0,0,1395.812511,2158.759586,632.865435,...,1079.619282,175.880950,35.706126,1.954624,68.838156,0,1,554.274673,-0.004824,0
2018-10-01,2021.989990,2033.189941,1476.359985,1598.010010,183220800,0,0,1415.072936,2156.462479,673.683392,...,1026.260347,226.677634,25.710778,13.746630,70.029660,0,1,511.530660,-0.202192,0
2018-11-01,1623.530029,1784.000000,1420.000000,1690.170044,139290000,0,0,1441.276994,2165.495473,717.058515,...,1021.581870,244.988371,22.077962,13.459064,67.140710,0,1,482.241860,0.057672,1
2018-12-01,1769.459961,1778.339966,1307.000000,1501.969971,154812700,0,0,1447.058143,2139.769373,754.346912,...,979.752631,275.170138,18.243182,14.073699,63.997479,0,1,418.100367,-0.111350,0
2019-01-01,1465.199951,1736.410034,1460.930054,1718.729980,134001700,0,0,1472.935154,2149.368813,796.501495,...,998.015050,275.211452,16.929670,13.060390,60.323996,0,1,390.981352,0.144317,1
2019-02-01,1638.880005,1673.060059,1566.760010,1639.829956,80936900,0,0,1488.831844,2130.773217,846.890472,...,1029.473305,258.778619,16.711453,12.892047,56.916203,0,1,351.747568,-0.045906,0
2019-03-01,1655.130005,1823.750000,1586.569946,1780.750000,100832200,0,0,1516.636655,2127.387093,905.886216,...,1055.912908,255.898714,19.914235,12.101056,53.813680,0,1,332.241329,0.085936,1
2019-04-01,1800.109985,1956.339966,1798.729980,1926.520020,81239200,0,0,1555.677080,2135.928556,975.425604,...,1104.921345,245.190569,23.173478,11.723067,51.745195,0,1,333.592143,0.081859,1
2019-05-01,1933.089966,1964.400024,1772.699951,1775.069946,98214400,0,0,1576.573535,2087.581740,1065.565329,...,1131.946335,238.058324,22.398184,11.992497,50.373212,0,1,302.062306,-0.078613,0
2019-06-01,1760.010010,1935.199951,1672.000000,1893.630005,74746500,0,0,1606.771867,2073.883506,1139.660229,...,1154.704936,241.410614,20.502924,13.969667,48.871966,0,1,284.836037,0.066792,1
2019-07-01,1922.979980,2035.800049,1849.439941,1866.780029,73148800,0,0,1631.536389,2051.483710,1211.589067,...,1186.687955,234.070408,22.711389,13.374633,46.761378,1,0,263.742667,-0.014179,0
2019-08-01,1871.719971,1897.920044,1743.510010,1776.290039,79771200,0,0,1645.323377,1989.981693,1300.665061,...,1212.849199,223.448850,22.085505,16.404421,45.206697,1,0,225.498336,-0.048474,0
2019-09-01,1770.000000,1853.660034,1709.219971,1735.910034,61172900,0,0,1653.951202,1975.725109,1332.177295,...,1234.538744,212.914196,21.517148,17.136464,43.006566,1,0,175.972735,-0.022733,0
2019-10-01,1746.000000,1798.849976,1685.060059,1776.660034,70360500,0,0,1665.638400,1971.521301,1359.755499,...,1263.674642,199.697463,21.297499,17.828372,40.724007,1,0,146.994775,0.023475,1
2019-11-01,1788.010010,1824.689941,1722.709961,1800.800049,52076200,0,0,1678.511579,1952.143082,1404.880076,...,1294.556957,186.668326,22.143528,17.706505,38.453035,1,0,124.940822,0.013587,1
2019-12-01,1804.400024,1901.400024,1735.000000,1847.839966,68149600,0,0,1694.638818,1955.271613,1434.006023,...,1315.336677,183.965861,23.845996,16.679859,36.529594,1,0,103.150399,0.026122,1
2020-01-01,1875.000000,2055.719971,1815.339966,2008.719971,84698300,0,0,1724.552527,1996.313351,1452.791703,...,1336.023221,191.487807,27.039545,14.877194,35.237780,1,0,117.829222,0.087064,1
2020-02-01,2010.599976,2185.949951,1811.130005,1883.750000,92510100,0,0,1739.714750,2010.854238,1468.575262,...,1318.345163,215.932262,26.579668,12.388087,34.830096,1,0,108.441552,-0.062214,0
2020-03-01,1906.489990,1996.329956,1626.030029,1949.719971,163809100,0,0,1759.715914,2038.576703,1480.855125,...,1309.315714,236.514741,22.529566,16.102488,34.842673,1,0,114.439735,0.035021,1
2020-04-01,1932.969971,2475.000000,1889.150024,2474.000000,124609800,0,0,1827.745022,2227.520551,1427.969494,...,1311.752235,283.093015,29.577061,12.490249,33.662079,1,0,200.307698,0.268900,1
2020-05-01,2336.800049,2525.449951,2256.379883,2442.370117,82584400,0,0,1886.282344,2365.853980,1406.710707,...,1368.275606,281.223281,28.926847,11.673545,34.169500,1,0,286.532083,-0.012785,0
2020-06-01,2448.000000,2796.000000,2437.129883,2758.820068,87818300,0,0,1969.383227,2581.088190,1357.678264,...,1433.214349,291.576233,32.542600,10.453462,34.810689,0,1,406.213366,0.129567,1
2020-07-01,2757.989990,3344.290039,2754.000000,3164.679932,127502000,0,0,2083.223552,2902.392615,1264.054488,...,1488.458493,331.404876,38.419428,8.539170,36.058500,0,1,520.839482,0.147114,1
2020-08-01,3180.510010,3495.000000,3073.000000,3450.959961,83516600,0,0,2213.486796,3230.062190,1196.911402,...,1596.059322,343.484261,37.555361,7.649513,38.044000,0,1,664.662102,0.090461,1
2020-09-01,3489.580078,3552.250000,2871.000000,3148.729980,115899300,0,0,2302.559205,3408.326127,1196.792282,...,1617.385114,388.519808,31.881251,9.997905,39.983940,0,1,706.527998,-0.087579,0
2020-10-01,3208.000000,3496.239990,3019.000000,3036.149902,116226100,0,0,2372.426141,3516.859468,1227.992815,...,1662.765508,400.349192,28.726482,9.008575,40.861540,0,1,726.831424,-0.035754,0
2020-11-01,3061.739990,3366.800049,2950.120117,3168.040039,90810500,0,0,2448.200028,3646.198420,1250.201636,...,1727.292260,402.526628,26.527889,9.542819,41.649901,0,1,750.353570,0.043440,1
2020-12-01,3188.500000,3350.649902,3072.820068,3256.929932,77556200,0,0,2525.222967,3783.473209,1266.972725,...,1819.339879,385.900361,25.692174,9.242189,42.038814,0,1,786.450281,0.028058,1
2021-01-01,3270.000000,3363.889893,3086.000000,3206.199951,71528900,0,0,2590.078713,3870.654746,1309.502680,...,1897.843134,371.498944,25.034740,8.914024,42.401913,0,1,814.319225,-0.015576,0
2021-02-01,3242.360107,3434.000000,3036.699951,3092.929932,72107000,0,0,2637.969836,3924.633342,1351.306331,...,1936.427304,374.939096,24.368488,9.140854,42.754959,0,1,799.642645,-0.035328,0
2021-03-01,3127.889893,3182.000000,2881.000000,3094.080078,78188000,0,0,2681.409343,3959.496362,1403.322323,...,1988.917093,365.080539,23.237353,11.765518,42.882441,0,1,787.632354,0.000372,1
2021-04-01,3117.939941,3554.000000,3115.550049,3467.419922,76839600,0,0,2756.268173,4041.549089,1470.987257,...,2043.105964,377.725802,27.894184,10.558719,42.222628,0,1,826.635891,0.120663,1
2021-05-01,3484.729980,3486.649902,3127.370117,3223.070068,75183900,0,0,2800.725861,4037.360208,1564.091515,...,2087.072940,375.266331,26.069985,9.868209,42.427059,0,1,801.296246,-0.070470,0
2021-06-01,3243.500000,3524.860107,3172.199951,3440.159912,67011000,0,0,2861.624795,4056.264249,1666.985341,...,2148.729444,372.252172,25.136239,9.237035,42.622850,0,1,798.959242,0.067355,1
2021-07-01,3434.610107,3773.080078,3306.979980,3327.590088,83720800,0,0,2906.002740,4025.715476,1786.290004,...,2173.169138,384.765237,27.191596,8.297887,42.918091,0,1,756.104814,-0.032722,0
2021-08-01,3353.100098,3391.000000,3299.770020,3354.719971,9693000,0,0,2948.737974,3977.339363,1920.136586,...,2265.941641,345.627182,28.107210,8.726393,43.652504,0,1,709.655624,0.008153,1
2021-08-05,3356.219971,3389.000000,3340.919922,3384.520020,1555468,0,0,2990.241255,3935.118662,2045.363848,...,2360.778681,305.954217,29.482596,9.153407,44.293228,0,1,663.220506,0.008883,1

In [35]:
# entry point for long position:
# 1. black cross becomes gray (the squeeze is released)
long_cond1_mo = (df_stock_mo['squeeze_off'].iloc[-2] == 0) | (df_stock_mo['squeeze_off'][-1] == 1) 
# 2. bar value is positive => the bar is light green
long_cond2_mo = df_stock_mo['value'][-1] > 0

enter_long_mo = long_cond1_mo and long_cond2_mo
# entry point for short position:
# 1. black cross becomes gray (the squeeze is released)
short_cond1_mo = (df_stock_mo['squeeze_off'][-2] == 0) | (df_stock_mo['squeeze_off'][-1] == 1) 
# 2. bar value is negative => the bar is light red 
short_cond2_mo = df_stock_mo['value'][-1] < 0
enter_short_mo = short_cond1_mo and short_cond2_mo

In [36]:
ohcl_mo = df_stock_mo[['Open', 'High', 'Close', 'Low']]
ohcl_mo.head()

                  Open        High       Close         Low
Date
2016-10-01  836.000000  847.210022  789.820007  774.609985
2016-11-01  799.000000  800.840027  750.570007  710.099976
2016-12-01  752.409973  782.460022  749.869995  736.700012
2017-01-01  757.919983  843.840027  823.479980  747.700012
2017-02-01  829.210022  860.859985  845.039978  803.000000

In [37]:
# add colors for the 'value bar'
colors = []
for ind, val in enumerate(df_stock_wk['value']):
  if val >= 0:
    color = 'blue'
    if val > df_stock_wk['value'][ind-1]:
      color = 'cyan'
  else:
    color = 'yellow'
    if val < df_stock_wk['value'][ind-1]:
      color='red'
  colors.append(color)

In [38]:
# add 2 subplots: 1. bars, 2. crosses
apds = [mpf.make_addplot(df_stock_mo['value'], panel=1, type='bar', color=colors, alpha=0.8, secondary_y=False),
        mpf.make_addplot([0] * len(df_stock_mo), panel=1, type='scatter', marker='o', markersize=50, color=['gray' if s else 'red' for s in df_stock_mo['squeeze_off']], secondary_y=False),
        mpf.make_addplot(df_stock_mo[['upper_BB']], color = 'red'),
        mpf.make_addplot(df_stock_mo[['lower_BB']], color = 'red'),
        mpf.make_addplot(df_stock_mo[['upper_KC']], color = 'blue'),
        mpf.make_addplot(df_stock_mo[['lower_KC']], color = 'blue'),
        mpf.make_addplot(df_stock_mo['Moving average monthly'], color = 'black'),
        mpf.make_addplot(df_stock_mo[['adx']], panel=2, color = 'purple', secondary_y=False),
        mpf.make_addplot(df_stock_mo[['plus_di']], panel=2, color = 'green', secondary_y=False),
        mpf.make_addplot(df_stock_mo[['minus_di']], panel=2, color = 'orange', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_08'], panel=3, color='red', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_21'], panel=3, color='orange', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_34'], panel=3, color='yellow', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_55'], panel=3, color='green', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_89'], panel=3, color='blue', secondary_y=False)]

# plot ohcl with subplots
fig, axes = mpf.plot(ohcl_mo, 
              volume_panel = 2,
              figratio=(2,1),
              figscale=1,
              type='candle', 
              addplot=apds,
              returnfig=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [45]:
momentum_checker('2021-08-05')

neutral

In [263]:
 # Create our features
X = df_stock.copy()
X.drop(columns=['profitable?',"squeeze_off","tr0","tr1","tr2","tr","Dividends","Stock Splits",'plus_di','minus_di'], axis=1, inplace=True)

# Create our target
y = df_stock[['profitable?']]

y.value_counts()

profitable?
1              293
0              262
dtype: int64

In [264]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, stratify=y)
X_train.shape

(416, 20)

In [265]:
y_train

            profitable?
Date
2021-06-04            0
2019-11-18            0
2021-05-14            1
2020-02-20            0
2019-11-26            1
...                 ...
2019-06-27            1
2020-11-24            0
2021-03-04            0
2021-03-16            0
2020-05-28            1

[416 rows x 1 columns]

In [266]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [267]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [268]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [269]:
# Scale the training and testing data
X_trained_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [270]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators = 100, random_state = 1)
rf_model = rf_model.fit(X_trained_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [271]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.9924242424242424

In [272]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm

array([[65,  1],
       [ 0, 73]], dtype=int64)

In [273]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98        66
          1       0.99      1.00      0.98      0.99      0.99      0.99        73

avg / total       0.99      0.99      0.99      0.99      0.99      0.98       139

In [274]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
listed = sorted(zip(rf_model.feature_importances_, X.columns), reverse = True)
listed

[(0.7452950056496229, 'pct_change'),
 (0.026867059074916808, 'Close'),
 (0.022922686089089442, 'Volume'),
 (0.02124566719079823, 'Open'),
 (0.015862133611401038, 'lower_KC'),
 (0.015788049538463564, 'atr'),
 (0.013335944608178812, 'value'),
 (0.012601612619136338, 'Low'),
 (0.012430888858084403, 'm_avg_89'),
 (0.012241603101021546, 'adx'),
 (0.012050502141253144, 'm_avg_21'),
 (0.01181998202146395, 'High'),
 (0.011450000394244798, 'lower_BB'),
 (0.011338517811697937, 'upper_KC'),
 (0.011292934392208154, 'm_avg_08'),
 (0.011158715660672822, 'm_avg_34'),
 (0.01112325458204114, 'upper_BB'),
 (0.011047640963740987, 'Moving average'),
 (0.008522829288711592, 'm_avg_55'),
 (0.001604972403252354, 'squeeze_on')]

In [275]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec_model = EasyEnsembleClassifier(n_estimators = 100, random_state = 1)
eec_model = eec_model.fit(X_trained_scaled, y_train)
predictions = eec_model.predict(X_test_scaled)

In [276]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.9924242424242424

In [279]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm

array([[65,  1],
       [ 0, 73]], dtype=int64)

In [280]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98        66
          1       0.99      1.00      0.98      0.99      0.99      0.99        73

avg / total       0.99      0.99      0.99      0.99      0.99      0.98       139

In [33]:
#Add other classifier models

# HW LSTM Model

In [283]:
# Set the random seed for reproducibility
# Note: This is for the homework solution, but it is good practice to comment this out and run multiple experiments to evaluate your model
from numpy.random import seed
seed(1)
from tensorflow import random
random.set_seed(2)

In [284]:
df = df_stock[['Volume','squeeze_on', 'adx', 'Close']]
df.head()

             Volume  squeeze_on        adx      Close
Date
2019-05-23  1060600           1  21.581257  59.889999
2019-05-24   620600           1  20.444923  61.200001
2019-05-28   830400           1  19.407561  61.200001
2019-05-29  1359300           1  18.683338  58.040001
2019-05-30  1035300           1  18.112670  58.099998

In [286]:
# This function accepts the column number for the features (X) and the target (y)
# It chunks the data up with a rolling window of Xt-n to predict Xt
# It returns a numpy array of X any y
def window_data(df, window, feature_col_number, target_col_number):
    X = []
    y = []
    for i in range(len(df) - window - 1):
        features = df.iloc[i:(i + window), feature_col_number]
        target = df.iloc[(i + window), target_col_number]
        X.append(features)
        y.append(target)
    return np.array(X), np.array(y).reshape(-1, 1)

In [287]:
# Predict Closing Prices using a 10 day window of previous closing prices
# Then, experiment with window sizes anywhere from 1 to 10 and see how the model performance changes
window_size = 10

# Column index 0 is the 'fng_value' column
# Column index 1 is the `Close` column
feature_column = 3
target_column = 3
X, y = window_data(df, window_size, feature_column, target_column)

In [288]:
# Use 70% of the data for training and the remaineder for testing
split = int(0.7 * len(X))

X_train = X[: split]
X_test = X[split:]

y_train = y[: split]
y_test = y[split:]

In [289]:
from sklearn.preprocessing import MinMaxScaler
# Use the MinMaxScaler to scale data between 0 and 1.
x_train_scaler = MinMaxScaler()
x_test_scaler = MinMaxScaler()
y_train_scaler = MinMaxScaler()
y_test_scaler = MinMaxScaler()

# Fit the scaler for the Training Data
x_train_scaler.fit(X_train)
y_train_scaler.fit(y_train)

# Scale the training data
X_train = x_train_scaler.transform(X_train)
y_train = y_train_scaler.transform(y_train)

# Fit the scaler for the Testing Data
x_test_scaler.fit(X_test)
y_test_scaler.fit(y_test)

# Scale the y_test data
X_test = x_test_scaler.transform(X_test)
y_test = y_test_scaler.transform(y_test)

In [290]:
# Reshape the features for the model
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

In [291]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [292]:
# Build the LSTM model. 
# The return sequences need to be set to True if you are adding additional LSTM layers, but 
# You don't have to do this for the final layer. 
# Note: The dropouts help prevent overfitting
# Note: The input shape is the number of time steps and the number of indicators
# Note: Batching inputs has a different input shape of Samples/TimeSteps/Features

# Define the LSTM RNN model.
model = Sequential()

# Initial model setup
number_units = 5
dropout_fraction = 0

# Layer 1
model.add(LSTM(
    units=number_units,
    return_sequences=True,
    input_shape=(X_train.shape[1], 1))
    )
model.add(Dropout(dropout_fraction))

# Layer 2
model.add(LSTM(units=number_units, return_sequences=True))
model.add(Dropout(dropout_fraction))

# Layer 3
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))

# Output layer
model.add(Dense(1))

In [293]:
# Compile the model
model.compile(optimizer="adam", loss="mean_squared_error")

In [294]:
# Summarize the model
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 10, 5)             140
_________________________________________________________________
dropout (Dropout)            (None, 10, 5)             0
_________________________________________________________________
lstm_1 (LSTM)                (None, 10, 5)             220
_________________________________________________________________
dropout_1 (Dropout)          (None, 10, 5)             0
_________________________________________________________________
lstm_2 (LSTM)                (None, 5)                 220
_________________________________________________________________
dropout_2 (Dropout)          (None, 5)                 0
_________________________________________________________________
dense (Dense)                (None, 1)                 6
=================================================================
Total params: 586
Trainable params: 586
Non-trainable params: 0
_________________________________________________________________

In [295]:
# Train the model
# Use at least 10 epochs
# Do not shuffle the data
# Experiement with the batch size, but a smaller batch size is recommended
model.fit(X_train, y_train, epochs=10, shuffle=False, batch_size=1, verbose=1)

Epoch 1/10
380/380 [==============================] - 14s 15ms/step - loss: 0.0038
Epoch 2/10
380/380 [==============================] - 6s 15ms/step - loss: 0.0164
Epoch 3/10
380/380 [==============================] - 5s 14ms/step - loss: 0.0167: 4s - loss:
Epoch 4/10
380/380 [==============================] - 5s 14ms/step - loss: 0.0116
Epoch 5/10
380/380 [==============================] - 5s 14ms/step - loss: 0.0059
Epoch 6/10
380/380 [==============================] - 5s 14ms/step - loss: 0.0046
Epoch 7/10
380/380 [==============================] - 6s 15ms/step - loss: 0.0046
Epoch 8/10
380/380 [==============================] - 6s 15ms/step - loss: 0.0047
Epoch 9/10
380/380 [==============================] - 5s 14ms/step - loss: 0.0048: 2s
Epoch 10/10
380/380 [==============================] - 5s 14ms/step - loss: 0.0049

In [296]:
# Evaluate the model
model.evaluate(X_test, y_test, verbose=1)

6/6 [==============================] - 2s 7ms/step - loss: 0.0280

0.028034226968884468

In [297]:
# Make some predictions
predicted = model.predict(X_test)

In [298]:
# Recover the original prices instead of the scaled version
predicted_profit = y_test_scaler.inverse_transform(predicted)
real_profit = y_test_scaler.inverse_transform(y_test.reshape(-1, 1))

In [299]:
# Create a DataFrame of Real and Predicted values
stocks = pd.DataFrame({
    "Real": real_profit.ravel(),
    "Predicted": predicted_profit.ravel()
}, index = df_stock.index[-len(real_profit): ]) 
stocks.head()

                  Real   Predicted
Date
2020-12-09  198.259995  223.474136
2020-12-10  192.279999  224.006821
2020-12-11  199.009995  226.799774
2020-12-14  199.580002  228.473206
2020-12-15  194.630005  228.738159

In [301]:
# Plot the real vs predicted values as a line chart
stocks.plot(figsize = (10,5), title="Actual Vs. Predicted TDOC Closing Prices")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Linear Regression Model

In [302]:
df_stock['Lagged_Close'] = df_stock['Close'].shift()
df_stock = df_stock.dropna()
df_stock.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average,upper_BB,lower_BB,...,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?,Lagged_Close
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-24,59.889999,61.299999,59.650002,61.200001,620600,0,0,59.952640,65.383786,54.521494,...,2.736412,24.392577,21.772802,20.444923,1,0,2.180271,0.021873,1,59.889999
2019-05-28,61.549999,61.930000,60.869999,61.200001,830400,0,0,60.071437,65.291837,54.851037,...,2.512891,26.455745,22.015755,19.407561,1,0,1.886791,0.000000,0,61.200001
2019-05-29,60.459999,60.849998,57.349998,58.040001,1359300,0,0,59.877967,64.992096,54.763837,...,2.691172,22.938432,28.432488,18.683338,1,0,1.178500,-0.051634,0,61.200001
2019-05-30,58.500000,59.369999,57.410000,58.099998,1035300,0,0,59.708636,64.689634,54.727638,...,2.593682,22.100410,27.393748,18.112670,1,0,0.351579,0.001034,1,58.040001
2019-05-31,57.099998,58.900002,56.150002,58.119999,627000,0,0,59.557337,64.390877,54.723798,...,2.614525,20.358066,28.676720,17.614766,1,0,-0.394268,0.000344,1,58.099998

In [303]:
# to_period("w") splits the series into weekly increments
df_stock.index.to_period("w")

PeriodIndex(['2019-05-20/2019-05-26', '2019-05-27/2019-06-02',
             '2019-05-27/2019-06-02', '2019-05-27/2019-06-02',
             '2019-05-27/2019-06-02', '2019-06-03/2019-06-09',
             '2019-06-03/2019-06-09', '2019-06-03/2019-06-09',
             '2019-06-03/2019-06-09', '2019-06-03/2019-06-09',
             ...
             '2021-07-19/2021-07-25', '2021-07-19/2021-07-25',
             '2021-07-26/2021-08-01', '2021-07-26/2021-08-01',
             '2021-07-26/2021-08-01', '2021-07-26/2021-08-01',
             '2021-07-26/2021-08-01', '2021-08-02/2021-08-08',
             '2021-08-02/2021-08-08', '2021-08-02/2021-08-08'],
            dtype='period[W-SUN]', name='Date', length=554, freq='W-SUN')

In [304]:
# construct a list of all Pandas weekly periods that are in the dataset:
weeks = df_stock.index.to_period("w").unique()
weeks

PeriodIndex(['2019-05-20/2019-05-26', '2019-05-27/2019-06-02',
             '2019-06-03/2019-06-09', '2019-06-10/2019-06-16',
             '2019-06-17/2019-06-23', '2019-06-24/2019-06-30',
             '2019-07-01/2019-07-07', '2019-07-08/2019-07-14',
             '2019-07-15/2019-07-21', '2019-07-22/2019-07-28',
             ...
             '2021-05-31/2021-06-06', '2021-06-07/2021-06-13',
             '2021-06-14/2021-06-20', '2021-06-21/2021-06-27',
             '2021-06-28/2021-07-04', '2021-07-05/2021-07-11',
             '2021-07-12/2021-07-18', '2021-07-19/2021-07-25',
             '2021-07-26/2021-08-01', '2021-08-02/2021-08-08'],
            dtype='period[W-SUN]', name='Date', length=116, freq='W-SUN')

In [305]:
# Training Window (26 weeks)
training_window = 26

In [310]:
# Beginning of training window
start_of_training_period = weeks[0].start_time.strftime(format="%Y-%m-%d")
start_of_training_period

'2019-05-20'

In [311]:
# End of training window
end_of_training_period = weeks[training_window + 0].end_time.strftime(format="%Y-%m-%d")
end_of_training_period

'2019-11-24'

In [312]:
# The week of the first test window
test_week = weeks[training_window + 0 + 1]
test_week

Period('2019-11-25/2019-12-01', 'W-SUN')

In [313]:
# The first day of the test week
start_of_test_week  = test_week.start_time.strftime(format="%Y-%m-%d")
start_of_test_week

'2019-11-25'

In [314]:
# The last day of the test week
end_of_test_week = test_week.end_time.strftime(format="%Y-%m-%d")
end_of_test_week

'2019-12-01'

In [315]:
# Training data with just one window
train = df_stock[start_of_training_period:end_of_training_period]
train

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average,upper_BB,lower_BB,...,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?,Lagged_Close
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-24,59.889999,61.299999,59.650002,61.200001,620600,0,0,59.952640,65.383786,54.521494,...,2.736412,24.392577,21.772802,20.444923,1,0,2.180271,0.021873,1,59.889999
2019-05-28,61.549999,61.930000,60.869999,61.200001,830400,0,0,60.071437,65.291837,54.851037,...,2.512891,26.455745,22.015755,19.407561,1,0,1.886791,0.000000,0,61.200001
2019-05-29,60.459999,60.849998,57.349998,58.040001,1359300,0,0,59.877967,64.992096,54.763837,...,2.691172,22.938432,28.432488,18.683338,1,0,1.178500,-0.051634,0,61.200001
2019-05-30,58.500000,59.369999,57.410000,58.099998,1035300,0,0,59.708636,64.689634,54.727638,...,2.593682,22.100410,27.393748,18.112670,1,0,0.351579,0.001034,1,58.040001
2019-05-31,57.099998,58.900002,56.150002,58.119999,627000,0,0,59.557337,64.390877,54.723798,...,2.614525,20.358066,28.676720,17.614766,1,0,-0.394268,0.000344,1,58.099998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-18,80.480003,82.760002,77.629997,78.150002,1186000,0,0,76.733385,87.298122,66.168648,...,3.068803,29.578329,15.341585,25.615860,0,1,6.373060,-0.034470,0,80.940002
2019-11-19,78.730003,79.120003,77.809998,78.040001,1143600,0,0,76.857825,86.937666,66.777983,...,2.834296,29.738062,15.424434,26.049986,0,1,5.703295,-0.001408,0,78.150002
2019-11-20,78.050003,79.940002,76.769997,77.449997,1827300,0,0,76.914222,86.508696,67.319748,...,2.879058,29.218991,16.680223,26.430778,0,1,4.875561,-0.007560,0,78.040001
2019-11-21,77.730003,78.732002,76.980003,77.500000,890800,0,0,76.970010,86.102994,67.837027,...,2.728783,28.626079,16.341748,26.494154,0,1,4.025519,0.000646,1,77.449997
2019-11-22,80.000000,81.500000,78.089996,81.480003,1664800,0,0,77.399534,86.501569,68.297498,...,2.898279,31.848620,14.287055,26.607835,0,1,3.844078,0.051355,1,77.500000

In [316]:
# Testing data with just one window
test = df_stock[start_of_test_week:end_of_test_week]
test

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average,upper_BB,lower_BB,...,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?,Lagged_Close
Date,,,,,,,,,,,,,,,,,,,,,
2019-11-25,81.099998,85.059998,81.000000,83.959999,2220700,0,0,78.024340,87.541281,68.507399,...,3.053175,36.401926,12.593502,27.479922,0,1,4.030130,0.030437,1,81.480003
2019-11-26,84.000000,85.000000,82.930000,84.900002,1250300,0,0,78.679165,88.633966,68.724363,...,2.922085,35.318197,12.218579,28.988010,0,1,4.329417,0.011196,1,83.959999
2019-11-27,84.989998,86.300003,84.121002,85.879997,881400,0,0,79.364958,89.779980,68.949937,...,2.823007,37.235784,11.744023,30.405991,0,1,4.686743,0.011543,1,84.900002
2019-11-29,85.550003,85.800003,83.470001,83.739998,455800,0,0,79.781629,90.032800,69.530457,...,2.767939,35.263976,12.802075,31.924554,0,1,4.139349,-0.024918,0,85.879997

In [317]:
# Set the training window as 26 weeks
# Total timeframe is 287 weeks
training_window = 26
timeframe = len(weeks) - training_window - 1
timeframe

89

In [318]:
# Construct an empty placeholder DataFrame, with a column named "Out-of-Sample Predictions"
# (Each iteration of the loop, we'll append that week"s predictions to this DataFrame)
all_predictions = pd.DataFrame(columns=["Out-of-Sample Predictions"])
all_predictions

Empty DataFrame
Columns: [Out-of-Sample Predictions]
Index: []

In [319]:
# Construct a separate empty DataFrame for actual data
all_actuals = pd.DataFrame(columns=["Actual Prices"])
all_actuals

Empty DataFrame
Columns: [Actual Prices]
Index: []

In [320]:
from sklearn.linear_model import LinearRegression
for i in range(0, timeframe):
    
    # Beginning of training window
    start_of_training_period = weeks[i].start_time.strftime(format="%Y-%m-%d")
    
    # End of training window
    end_of_training_period = weeks[training_window + i].end_time.strftime(format="%Y-%m-%d")

    # Window of test-window data
    test_week = weeks[training_window+i+1]
    
    # String of testing window
    start_of_test_week  = test_week.start_time.strftime(format="%Y-%m-%d")
    end_of_test_week = test_week.end_time.strftime(format="%Y-%m-%d")
    
    train = df_stock[start_of_training_period:end_of_training_period]
    test = df_stock[start_of_test_week:end_of_test_week]
    
    # Create new DataFrames:
    X_train = train["Lagged_Close"].to_frame()
    y_train = train["Close"]
    X_test = test["Lagged_Close"].to_frame()
    y_test = test["Close"]

    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    # Create a temporary DataFrame to hold predictions
    predictions = pd.DataFrame(predictions, index=X_test.index, columns=["Out-of-Sample Predictions"])
    # Create a temporary DataFrame of the actual "y"s in the test DataFrame, with column name="Actual Returns": 
    actuals = pd.DataFrame(y_test, index=y_test.index)
    actuals.columns = ["Actual Prices"]  
    # Append these two DataFrames (predictions and actuals) to the two master DataFrames built outside the loop
    all_predictions = all_predictions.append(predictions)
    all_actuals = all_actuals.append(actuals)

In [321]:
# Once the loop is done, concatenate (combine) the two DataFrames to a final "Results" DataFrame:    
Results = pd.concat([all_actuals, all_predictions], axis=1)
Results.head()

            Actual Prices  Out-of-Sample Predictions
2019-11-25      83.959999                  81.290666
2019-11-26      84.900002                  83.711080
2019-11-27      85.879997                  84.628498
2019-11-29      83.739998                  85.584950
2019-12-02      78.440002                  83.640012

In [322]:
# Plot the first 20 predictions vs the true values
Results[:20].plot()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [323]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(
    Results["Actual Prices"],
    Results["Out-of-Sample Predictions"]
)

# Using that mean-squared-error, calculate the root-mean-squared error (RMSE):
out_of_sample_rmse = np.sqrt(mse)
print(f"Out-of-Sample Root Mean Squared Error (RMSE): {out_of_sample_rmse}")

Out-of-Sample Root Mean Squared Error (RMSE): 7.557630567073388

# Multifeature LSTM Model

In [324]:
#multi feature LSTM
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

In [325]:
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [326]:
# load dataset
values = df_stock.values
# integer encode direction
encoder = LabelEncoder()
values[:,4] = encoder.fit_transform(values[:,4])
# ensure all data is float
values = values.astype('float32')
# normalize features
scaler = MinMaxScaler(feature_range=(0, 1))
scaled = scaler.fit_transform(values)
# frame as supervised learning
reframed = series_to_supervised(scaled, 1, 1)
# drop columns we don't want to predict
reframed.drop(reframed.columns[[0,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10,21,22,23,24,25,26,27,28,29]], axis=1, inplace=True)
print(reframed.head())

   var4(t-1)  var21(t-1)  var31(t-1)   var1(t)   var2(t)   var3(t)   var4(t)  \
1   0.030013    0.010448    0.024568  0.028922  0.024708  0.031721  0.030013
2   0.030013    0.012668    0.030013  0.024450  0.020428  0.016652  0.016877
3   0.016877    0.010539    0.030013  0.016410  0.014562  0.016909  0.017127
4   0.017127    0.010399    0.016877  0.010666  0.012699  0.011515  0.017210
5   0.017210    0.009549    0.017127  0.014358  0.009132  0.000000  0.000000

    var5(t)  var6(t)  var7(t)  ...  var22(t)  var23(t)  var24(t)  var25(t)  \
1  0.085299      0.0      0.0  ...  0.040413  0.527970  0.416498  0.313620
2  0.263158      0.0      0.0  ...  0.049101  0.427230  0.592790  0.292602
3  0.166969      0.0      0.0  ...  0.044350  0.403229  0.564252  0.276041
4  0.030853      0.0      0.0  ...  0.045366  0.353326  0.599500  0.261591
5  0.448276      0.0      0.0  ...  0.058657  0.260531  0.656966  0.261953

   var26(t)  var27(t)  var28(t)  var29(t)  var30(t)  var31(t)
1       1.0       0.0  0.643998  0.511797       0.0  0.030013
2       1.0       0.0  0.637206  0.372772       0.0  0.030013
3       1.0       0.0  0.629277  0.514581       1.0  0.016877
4       1.0       0.0  0.622126  0.512724       1.0  0.017127
5       1.0       0.0  0.609866  0.320004       0.0  0.017210

[5 rows x 34 columns]

In [327]:
# split into train and test sets
values = reframed.values
n_train_days = 252
train = values[:n_train_days, :]
test = values[n_train_days:, :]
# split into input and outputs
train_X, train_y = train[:, :-1], train[:, -1]
test_X, test_y = test[:, :-1], test[:, -1]
# reshape input to be 3D [samples, timesteps, features]
train_X = train_X.reshape((train_X.shape[0],1, train_X.shape[1]))
test_X = test_X.reshape((test_X.shape[0],1, test_X.shape[1]))
print(train_X.shape, train_y.shape, test_X.shape, test_y.shape)

(252, 1, 33) (252,) (301, 1, 33) (301,)

In [328]:
# design network
model = Sequential()
model.add(LSTM(5, input_shape=(train_X.shape[1], train_X.shape[2])))
model.add(Dropout(0.3))
model.add(Dense(1))
#model.add(Dropout(0.3))
model.compile(loss='mae', optimizer='adam', metrics=['accuracy'])
# fit network
history = model.fit(train_X, train_y, epochs=60, batch_size=20, validation_data=(test_X, test_y), verbose=2, shuffle=False)

Epoch 1/60
13/13 - 50s - loss: 0.1744 - accuracy: 0.0040 - val_loss: 0.4899 - val_accuracy: 0.0000e+00
Epoch 2/60
13/13 - 0s - loss: 0.1271 - accuracy: 0.0040 - val_loss: 0.3929 - val_accuracy: 0.0000e+00
Epoch 3/60
13/13 - 0s - loss: 0.1127 - accuracy: 0.0040 - val_loss: 0.3169 - val_accuracy: 0.0000e+00
Epoch 4/60
13/13 - 0s - loss: 0.1021 - accuracy: 0.0040 - val_loss: 0.2664 - val_accuracy: 0.0000e+00
Epoch 5/60
13/13 - 0s - loss: 0.0975 - accuracy: 0.0040 - val_loss: 0.2314 - val_accuracy: 0.0000e+00
Epoch 6/60
13/13 - 0s - loss: 0.0963 - accuracy: 0.0040 - val_loss: 0.2007 - val_accuracy: 0.0000e+00
Epoch 7/60
13/13 - 0s - loss: 0.0845 - accuracy: 0.0040 - val_loss: 0.1836 - val_accuracy: 0.0000e+00
Epoch 8/60
13/13 - 0s - loss: 0.0801 - accuracy: 0.0040 - val_loss: 0.1621 - val_accuracy: 0.0000e+00
Epoch 9/60
13/13 - 0s - loss: 0.0766 - accuracy: 0.0040 - val_loss: 0.1402 - val_accuracy: 0.0000e+00
Epoch 10/60
13/13 - 0s - loss: 0.0748 - accuracy: 0.0040 - val_loss: 0.1322 - val_accuracy: 0.0000e+00
Epoch 11/60
13/13 - 0s - loss: 0.0736 - accuracy: 0.0040 - val_loss: 0.1233 - val_accuracy: 0.0000e+00
Epoch 12/60
13/13 - 0s - loss: 0.0648 - accuracy: 0.0040 - val_loss: 0.1111 - val_accuracy: 0.0000e+00
Epoch 13/60
13/13 - 0s - loss: 0.0642 - accuracy: 0.0040 - val_loss: 0.1061 - val_accuracy: 0.0000e+00
Epoch 14/60
13/13 - 0s - loss: 0.0715 - accuracy: 0.0040 - val_loss: 0.1138 - val_accuracy: 0.0000e+00
Epoch 15/60
13/13 - 0s - loss: 0.0597 - accuracy: 0.0040 - val_loss: 0.0965 - val_accuracy: 0.0000e+00
Epoch 16/60
13/13 - 0s - loss: 0.0570 - accuracy: 0.0040 - val_loss: 0.0820 - val_accuracy: 0.0000e+00
Epoch 17/60
13/13 - 0s - loss: 0.0589 - accuracy: 0.0040 - val_loss: 0.0844 - val_accuracy: 0.0000e+00
Epoch 18/60
13/13 - 0s - loss: 0.0580 - accuracy: 0.0040 - val_loss: 0.1084 - val_accuracy: 0.0000e+00
Epoch 19/60
13/13 - 0s - loss: 0.0550 - accuracy: 0.0040 - val_loss: 0.0878 - val_accuracy: 0.0000e+00
Epoch 20/60
13/13 - 0s - loss: 0.0523 - accuracy: 0.0040 - val_loss: 0.0786 - val_accuracy: 0.0000e+00
Epoch 21/60
13/13 - 0s - loss: 0.0525 - accuracy: 0.0040 - val_loss: 0.0787 - val_accuracy: 0.0000e+00
Epoch 22/60
13/13 - 0s - loss: 0.0443 - accuracy: 0.0040 - val_loss: 0.0655 - val_accuracy: 0.0000e+00
Epoch 23/60
13/13 - 0s - loss: 0.0503 - accuracy: 0.0040 - val_loss: 0.0627 - val_accuracy: 0.0000e+00
Epoch 24/60
13/13 - 0s - loss: 0.0461 - accuracy: 0.0040 - val_loss: 0.0703 - val_accuracy: 0.0000e+00
Epoch 25/60
13/13 - 0s - loss: 0.0409 - accuracy: 0.0040 - val_loss: 0.0614 - val_accuracy: 0.0000e+00
Epoch 26/60
13/13 - 0s - loss: 0.0450 - accuracy: 0.0040 - val_loss: 0.0622 - val_accuracy: 0.0000e+00
Epoch 27/60
13/13 - 0s - loss: 0.0421 - accuracy: 0.0040 - val_loss: 0.0578 - val_accuracy: 0.0000e+00
Epoch 28/60
13/13 - 0s - loss: 0.0475 - accuracy: 0.0040 - val_loss: 0.0582 - val_accuracy: 0.0000e+00
Epoch 29/60
13/13 - 0s - loss: 0.0387 - accuracy: 0.0040 - val_loss: 0.0608 - val_accuracy: 0.0000e+00
Epoch 30/60
13/13 - 0s - loss: 0.0412 - accuracy: 0.0040 - val_loss: 0.0586 - val_accuracy: 0.0000e+00
Epoch 31/60
13/13 - 0s - loss: 0.0438 - accuracy: 0.0040 - val_loss: 0.0555 - val_accuracy: 0.0000e+00
Epoch 32/60
13/13 - 0s - loss: 0.0378 - accuracy: 0.0040 - val_loss: 0.0563 - val_accuracy: 0.0000e+00
Epoch 33/60
13/13 - 0s - loss: 0.0417 - accuracy: 0.0040 - val_loss: 0.0566 - val_accuracy: 0.0000e+00
Epoch 34/60
13/13 - 0s - loss: 0.0355 - accuracy: 0.0040 - val_loss: 0.0534 - val_accuracy: 0.0000e+00
Epoch 35/60
13/13 - 0s - loss: 0.0360 - accuracy: 0.0040 - val_loss: 0.0563 - val_accuracy: 0.0000e+00
Epoch 36/60
13/13 - 0s - loss: 0.0336 - accuracy: 0.0040 - val_loss: 0.0540 - val_accuracy: 0.0000e+00
Epoch 37/60
13/13 - 0s - loss: 0.0399 - accuracy: 0.0040 - val_loss: 0.0519 - val_accuracy: 0.0000e+00
Epoch 38/60
13/13 - 0s - loss: 0.0324 - accuracy: 0.0040 - val_loss: 0.0599 - val_accuracy: 0.0000e+00
Epoch 39/60
13/13 - 0s - loss: 0.0362 - accuracy: 0.0040 - val_loss: 0.0605 - val_accuracy: 0.0000e+00
Epoch 40/60
13/13 - 0s - loss: 0.0392 - accuracy: 0.0040 - val_loss: 0.0535 - val_accuracy: 0.0000e+00
Epoch 41/60
13/13 - 0s - loss: 0.0369 - accuracy: 0.0040 - val_loss: 0.0531 - val_accuracy: 0.0000e+00
Epoch 42/60
13/13 - 0s - loss: 0.0320 - accuracy: 0.0040 - val_loss: 0.0512 - val_accuracy: 0.0000e+00
Epoch 43/60
13/13 - 0s - loss: 0.0359 - accuracy: 0.0040 - val_loss: 0.0534 - val_accuracy: 0.0000e+00
Epoch 44/60
13/13 - 0s - loss: 0.0372 - accuracy: 0.0040 - val_loss: 0.0524 - val_accuracy: 0.0000e+00
Epoch 45/60
13/13 - 0s - loss: 0.0343 - accuracy: 0.0040 - val_loss: 0.0532 - val_accuracy: 0.0000e+00
Epoch 46/60
13/13 - 0s - loss: 0.0350 - accuracy: 0.0040 - val_loss: 0.0531 - val_accuracy: 0.0000e+00
Epoch 47/60
13/13 - 0s - loss: 0.0338 - accuracy: 0.0040 - val_loss: 0.0515 - val_accuracy: 0.0000e+00
Epoch 48/60
13/13 - 0s - loss: 0.0312 - accuracy: 0.0040 - val_loss: 0.0499 - val_accuracy: 0.0000e+00
Epoch 49/60
13/13 - 0s - loss: 0.0304 - accuracy: 0.0040 - val_loss: 0.0485 - val_accuracy: 0.0000e+00
Epoch 50/60
13/13 - 0s - loss: 0.0348 - accuracy: 0.0040 - val_loss: 0.0473 - val_accuracy: 0.0000e+00
Epoch 51/60
13/13 - 0s - loss: 0.0298 - accuracy: 0.0040 - val_loss: 0.0495 - val_accuracy: 0.0000e+00
Epoch 52/60
13/13 - 0s - loss: 0.0340 - accuracy: 0.0040 - val_loss: 0.0563 - val_accuracy: 0.0000e+00
Epoch 53/60
13/13 - 0s - loss: 0.0353 - accuracy: 0.0040 - val_loss: 0.0470 - val_accuracy: 0.0000e+00
Epoch 54/60
13/13 - 0s - loss: 0.0318 - accuracy: 0.0040 - val_loss: 0.0487 - val_accuracy: 0.0000e+00
Epoch 55/60
13/13 - 0s - loss: 0.0324 - accuracy: 0.0040 - val_loss: 0.0460 - val_accuracy: 0.0000e+00
Epoch 56/60
13/13 - 0s - loss: 0.0333 - accuracy: 0.0040 - val_loss: 0.0458 - val_accuracy: 0.0000e+00
Epoch 57/60
13/13 - 0s - loss: 0.0330 - accuracy: 0.0040 - val_loss: 0.0498 - val_accuracy: 0.0000e+00
Epoch 58/60
13/13 - 0s - loss: 0.0317 - accuracy: 0.0040 - val_loss: 0.0538 - val_accuracy: 0.0000e+00
Epoch 59/60
13/13 - 0s - loss: 0.0359 - accuracy: 0.0040 - val_loss: 0.0479 - val_accuracy: 0.0000e+00
Epoch 60/60
13/13 - 0s - loss: 0.0345 - accuracy: 0.0040 - val_loss: 0.0482 - val_accuracy: 0.0000e+00

In [202]:
number_units = 50
dropout_fraction = 0.2
# design network
model = Sequential()
model.add(LSTM(units=number_units, input_shape=(train_X.shape[1], train_X.shape[2])))
model.add(Dropout(dropout_fraction))
# Layer 2
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))
# Layer 3
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))
# Output layer
model.add(Dense(1))
model.compile(loss='mae', optimizer='adam', metrics=['accuracy'])
# fit network
history = model.fit(train_X, train_y, epochs=1000, batch_size=1, validation_data=(test_X, test_y), verbose=2, shuffle=False)

ValueError: Input 0 of layer lstm_35 is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (None, 50)

In [329]:
# plot history
fig = pyplot.figure()
pyplot.plot(history.history['loss'], label='train')
pyplot.plot(history.history['val_loss'], label='test')
pyplot.legend()
pyplot.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [104]:
# make a prediction
yhat = model.predict(test_X)
test_X = test_X.reshape((test_X.shape[0], test_X.shape[2]))
#self.synaptic_weights = self.synaptic_weights + adjustment
# invert scaling for forecast
inv_yhat = concatenate((yhat, test_X[:, :]), axis=1)
inv_yhat = scaler.inverse_transform(inv_yhat.reshape(764,16))
inv_yhat = inv_yhat[:,0]
# invert scaling for actual
test_y = test_y.reshape((len(test_y), 1))
inv_y = concatenate((test_y, test_X[:, :]), axis=1)
inv_y = scaler.inverse_transform(inv_y.reshape(764,16))
inv_y = inv_y[:,0]
# calculate RMSE
rmse = sqrt(mean_squared_error(inv_y, inv_yhat))
print('Test RMSE: %.3f' % rmse)

ValueError: in user code:

    C:\Users\akkrishn\anaconda3\lib\site-packages\keras\engine\training.py:1544 predict_function  *
        return step_function(self, iterator)
    C:\Users\akkrishn\anaconda3\lib\site-packages\keras\engine\training.py:1527 run_step  *
        outputs = model.predict_step(data)
    C:\Users\akkrishn\anaconda3\lib\site-packages\keras\engine\training.py:1500 predict_step  *
        return self(x, training=False)
    C:\Users\akkrishn\anaconda3\lib\site-packages\keras\engine\base_layer.py:989 __call__  *
        input_spec.assert_input_compatibility(self.input_spec, inputs, self.name)
    C:\Users\akkrishn\anaconda3\lib\site-packages\keras\engine\input_spec.py:212 assert_input_compatibility  *
        raise ValueError('Input ' + str(input_index) + ' of layer ' +

    ValueError: Input 0 of layer sequential is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (None, 31)

In [162]:
help(LSTM)

Help on class LSTM in module keras.layers.recurrent_v2:

class LSTM(keras.layers.recurrent.DropoutRNNCellMixin, keras.layers.recurrent.LSTM)
 |  LSTM(*args, **kwargs)
 |
 |  Long Short-Term Memory layer - Hochreiter 1997.
 |
 |  See [the Keras RNN API guide](https://www.tensorflow.org/guide/keras/rnn)
 |  for details about the usage of RNN API.
 |
 |  Based on available runtime hardware and constraints, this layer
 |  will choose different implementations (cuDNN-based or pure-TensorFlow)
 |  to maximize the performance. If a GPU is available and all
 |  the arguments to the layer meet the requirement of the CuDNN kernel
 |  (see below for details), the layer will use a fast cuDNN implementation.
 |
 |  The requirements to use the cuDNN implementation are:
 |
 |  1. `activation` == `tanh`
 |  2. `recurrent_activation` == `sigmoid`
 |  3. `recurrent_dropout` == 0
 |  4. `unroll` is `False`
 |  5. `use_bias` is `True`
 |  6. Inputs, if use masking, are strictly right-padded.
 |  7. Eager execution is enabled in the outermost context.
 |
 |  For example:
 |
 |  >>> inputs = tf.random.normal([32, 10, 8])
 |  >>> lstm = tf.keras.layers.LSTM(4)
 |  >>> output = lstm(inputs)
 |  >>> print(output.shape)
 |  (32, 4)
 |  >>> lstm = tf.keras.layers.LSTM(4, return_sequences=True, return_state=True)
 |  >>> whole_seq_output, final_memory_state, final_carry_state = lstm(inputs)
 |  >>> print(whole_seq_output.shape)
 |  (32, 10, 4)
 |  >>> print(final_memory_state.shape)
 |  (32, 4)
 |  >>> print(final_carry_state.shape)
 |  (32, 4)
 |
 |  Args:
 |    units: Positive integer, dimensionality of the output space.
 |    activation: Activation function to use.
 |      Default: hyperbolic tangent (`tanh`). If you pass `None`, no activation
 |      is applied (ie. "linear" activation: `a(x) = x`).
 |    recurrent_activation: Activation function to use for the recurrent step.
 |      Default: sigmoid (`sigmoid`). If you pass `None`, no activation is
 |      applied (ie. "linear" activation: `a(x) = x`).
 |    use_bias: Boolean (default `True`), whether the layer uses a bias vector.
 |    kernel_initializer: Initializer for the `kernel` weights matrix, used for
 |      the linear transformation of the inputs. Default: `glorot_uniform`.
 |    recurrent_initializer: Initializer for the `recurrent_kernel` weights
 |      matrix, used for the linear transformation of the recurrent state.
 |      Default: `orthogonal`.
 |    bias_initializer: Initializer for the bias vector. Default: `zeros`.
 |    unit_forget_bias: Boolean (default `True`). If True, add 1 to the bias of
 |      the forget gate at initialization. Setting it to true will also force
 |      `bias_initializer="zeros"`. This is recommended in [Jozefowicz et
 |          al.](http://www.jmlr.org/proceedings/papers/v37/jozefowicz15.pdf).
 |    kernel_regularizer: Regularizer function applied to the `kernel` weights
 |      matrix. Default: `None`.
 |    recurrent_regularizer: Regularizer function applied to the
 |      `recurrent_kernel` weights matrix. Default: `None`.
 |    bias_regularizer: Regularizer function applied to the bias vector. Default:
 |      `None`.
 |    activity_regularizer: Regularizer function applied to the output of the
 |      layer (its "activation"). Default: `None`.
 |    kernel_constraint: Constraint function applied to the `kernel` weights
 |      matrix. Default: `None`.
 |    recurrent_constraint: Constraint function applied to the `recurrent_kernel`
 |      weights matrix. Default: `None`.
 |    bias_constraint: Constraint function applied to the bias vector. Default:
 |      `None`.
 |    dropout: Float between 0 and 1. Fraction of the units to drop for the linear
 |      transformation of the inputs. Default: 0.
 |    recurrent_dropout: Float between 0 and 1. Fraction of the units to drop for
 |      the linear transformation of the recurrent state. Default: 0.
 |    return_sequences: Boolean. Whether to return the last output. in the output
 |      sequence, or the full sequence. Default: `False`.
 |    return_state: Boolean. Whether to return the last state in addition to the
 |      output. Default: `False`.
 |    go_backwards: Boolean (default `False`). If True, process the input sequence
 |      backwards and return the reversed sequence.
 |    stateful: Boolean (default `False`). If True, the last state for each sample
 |      at index i in a batch will be used as initial state for the sample of
 |      index i in the following batch.
 |    time_major: The shape format of the `inputs` and `outputs` tensors.
 |      If True, the inputs and outputs will be in shape
 |      `[timesteps, batch, feature]`, whereas in the False case, it will be
 |      `[batch, timesteps, feature]`. Using `time_major = True` is a bit more
 |      efficient because it avoids transposes at the beginning and end of the
 |      RNN calculation. However, most TensorFlow data is batch-major, so by
 |      default this function accepts input and emits output in batch-major
 |      form.
 |    unroll: Boolean (default `False`). If True, the network will be unrolled,
 |      else a symbolic loop will be used. Unrolling can speed-up a RNN, although
 |      it tends to be more memory-intensive. Unrolling is only suitable for short
 |      sequences.
 |
 |  Call arguments:
 |    inputs: A 3D tensor with shape `[batch, timesteps, feature]`.
 |    mask: Binary tensor of shape `[batch, timesteps]` indicating whether
 |      a given timestep should be masked (optional, defaults to `None`).
 |      An individual `True` entry indicates that the corresponding timestep
 |      should be utilized, while a `False` entry indicates that the corresponding
 |      timestep should be ignored.
 |    training: Python boolean indicating whether the layer should behave in
 |      training mode or in inference mode. This argument is passed to the cell
 |      when calling it. This is only relevant if `dropout` or
 |      `recurrent_dropout` is used (optional, defaults to `None`).
 |    initial_state: List of initial state tensors to be passed to the first
 |      call of the cell (optional, defaults to `None` which causes creation
 |      of zero-filled initial state tensors).
 |
 |  Method resolution order:
 |      LSTM
 |      keras.layers.recurrent.DropoutRNNCellMixin
 |      keras.layers.recurrent.LSTM
 |      keras.layers.recurrent.RNN
 |      keras.engine.base_layer.Layer
 |      tensorflow.python.module.module.Module
 |      tensorflow.python.training.tracking.tracking.AutoTrackable
 |      tensorflow.python.training.tracking.base.Trackable
 |      keras.utils.version_utils.LayerVersionSelector
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, units, activation='tanh', recurrent_activation='sigmoid', use_bias=True, kernel_initializer='glorot_uniform', recurrent_initializer='orthogonal', bias_initializer='zeros', unit_forget_bias=True, kernel_regularizer=None, recurrent_regularizer=None, bias_regularizer=None, activity_regularizer=None, kernel_constraint=None, recurrent_constraint=None, bias_constraint=None, dropout=0.0, recurrent_dropout=0.0, return_sequences=False, return_state=False, go_backwards=False, stateful=False, time_major=False, unroll=False, **kwargs)
 |
 |  call(self, inputs, mask=None, training=None, initial_state=None)
 |      This is where the layer's logic lives.
 |
 |      Note here that `call()` method in `tf.keras` is little bit different
 |      from `keras` API. In `keras` API, you can pass support masking for
 |      layers as additional arguments. Whereas `tf.keras` has `compute_mask()`
 |      method to support masking.
 |
 |      Args:
 |          inputs: Input tensor, or list/tuple of input tensors.
 |          *args: Additional positional arguments. Currently unused.
 |          **kwargs: Additional keyword arguments. Currently unused.
 |
 |      Returns:
 |          A tensor or list/tuple of tensors.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from keras.layers.recurrent.DropoutRNNCellMixin:
 |
 |  __getstate__(self)
 |
 |  __setstate__(self, state)
 |
 |  get_dropout_mask_for_cell(self, inputs, training, count=1)
 |      Get the dropout mask for RNN cell's input.
 |
 |      It will create mask based on context if there isn't any existing cached
 |      mask. If a new mask is generated, it will update the cache in the cell.
 |
 |      Args:
 |        inputs: The input tensor whose shape will be used to generate dropout
 |          mask.
 |        training: Boolean tensor, whether its in training mode, dropout will be
 |          ignored in non-training mode.
 |        count: Int, how many dropout mask will be generated. It is useful for cell
 |          that has internal weights fused together.
 |      Returns:
 |        List of mask tensor, generated or cached mask based on context.
 |
 |  get_recurrent_dropout_mask_for_cell(self, inputs, training, count=1)
 |      Get the recurrent dropout mask for RNN cell.
 |
 |      It will create mask based on context if there isn't any existing cached
 |      mask. If a new mask is generated, it will update the cache in the cell.
 |
 |      Args:
 |        inputs: The input tensor whose shape will be used to generate dropout
 |          mask.
 |        training: Boolean tensor, whether its in training mode, dropout will be
 |          ignored in non-training mode.
 |        count: Int, how many dropout mask will be generated. It is useful for cell
 |          that has internal weights fused together.
 |      Returns:
 |        List of mask tensor, generated or cached mask based on context.
 |
 |  reset_dropout_mask(self)
 |      Reset the cached dropout masks if any.
 |
 |      This is important for the RNN layer to invoke this in it `call()` method so
 |      that the cached mask is cleared before calling the `cell.call()`. The mask
 |      should be cached across the timestep within the same batch, but shouldn't
 |      be cached between batches. Otherwise it will introduce unreasonable bias
 |      against certain index of data within the batch.
 |
 |  reset_recurrent_dropout_mask(self)
 |      Reset the cached recurrent dropout masks if any.
 |
 |      This is important for the RNN layer to invoke this in it call() method so
 |      that the cached mask is cleared before calling the cell.call(). The mask
 |      should be cached across the timestep within the same batch, but shouldn't
 |      be cached between batches. Otherwise it will introduce unreasonable bias
 |      against certain index of data within the batch.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from keras.layers.recurrent.DropoutRNNCellMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from keras.layers.recurrent.LSTM:
 |
 |  get_config(self)
 |      Returns the config of the layer.
 |
 |      A layer config is a Python dictionary (serializable)
 |      containing the configuration of a layer.
 |      The same layer can be reinstantiated later
 |      (without its trained weights) from this configuration.
 |
 |      The config of a layer does not include connectivity
 |      information, nor the layer class name. These are handled
 |      by `Network` (one layer of abstraction above).
 |
 |      Note that `get_config()` does not guarantee to return a fresh copy of dict
 |      every time it is called. The callers should make a copy of the returned dict
 |      if they want to modify it.
 |
 |      Returns:
 |          Python dictionary.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from keras.layers.recurrent.LSTM:
 |
 |  from_config(config) from builtins.type
 |      Creates a layer from its config.
 |
 |      This method is the reverse of `get_config`,
 |      capable of instantiating the same layer from the config
 |      dictionary. It does not handle layer connectivity
 |      (handled by Network), nor weights (handled by `set_weights`).
 |
 |      Args:
 |          config: A Python dictionary, typically the
 |              output of get_config.
 |
 |      Returns:
 |          A layer instance.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties inherited from keras.layers.recurrent.LSTM:
 |
 |  activation
 |
 |  bias_constraint
 |
 |  bias_initializer
 |
 |  bias_regularizer
 |
 |  dropout
 |
 |  implementation
 |
 |  kernel_constraint
 |
 |  kernel_initializer
 |
 |  kernel_regularizer
 |
 |  recurrent_activation
 |
 |  recurrent_constraint
 |
 |  recurrent_dropout
 |
 |  recurrent_initializer
 |
 |  recurrent_regularizer
 |
 |  unit_forget_bias
 |
 |  units
 |
 |  use_bias
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from keras.layers.recurrent.RNN:
 |
 |  __call__(self, inputs, initial_state=None, constants=None, **kwargs)
 |      Wraps `call`, applying pre- and post-processing steps.
 |
 |      Args:
 |        *args: Positional arguments to be passed to `self.call`.
 |        **kwargs: Keyword arguments to be passed to `self.call`.
 |
 |      Returns:
 |        Output tensor(s).
 |
 |      Note:
 |        - The following optional keyword arguments are reserved for specific uses:
 |          * `training`: Boolean scalar tensor of Python boolean indicating
 |            whether the `call` is meant for training or inference.
 |          * `mask`: Boolean input mask.
 |        - If the layer's `call` method takes a `mask` argument (as some Keras
 |          layers do), its default value will be set to the mask generated
 |          for `inputs` by the previous layer (if `input` did come from
 |          a layer that generated a corresponding mask, i.e. if it came from
 |          a Keras layer with masking support.
 |        - If the layer is not built, the method will call `build`.
 |
 |      Raises:
 |        ValueError: if the layer's `call` method returns None (an invalid value).
 |        RuntimeError: if `super().__init__()` was not called in the constructor.
 |
 |  build(self, input_shape)
 |      Creates the variables of the layer (optional, for subclass implementers).
 |
 |      This is a method that implementers of subclasses of `Layer` or `Model`
 |      can override if they need a state-creation step in-between
 |      layer instantiation and layer call.
 |
 |      This is typically used to create the weights of `Layer` subclasses.
 |
 |      Args:
 |        input_shape: Instance of `TensorShape`, or list of instances of
 |          `TensorShape` if the layer expects a list of inputs
 |          (one instance per input).
 |
 |  compute_mask(self, inputs, mask)
 |      Computes an output mask tensor.
 |
 |      Args:
 |          inputs: Tensor or list of tensors.
 |          mask: Tensor or list of tensors.
 |
 |      Returns:
 |          None or a tensor (or list of tensors,
 |              one per output tensor of the layer).
 |
 |  compute_output_shape(self, input_shape)
 |      Computes the output shape of the layer.
 |
 |      If the layer has not been built, this method will call `build` on the
 |      layer. This assumes that the layer will later be used with inputs that
 |      match the input shape provided here.
 |
 |      Args:
 |          input_shape: Shape tuple (tuple of integers)
 |              or list of shape tuples (one per output tensor of the layer).
 |              Shape tuples can include None for free dimensions,
 |              instead of an integer.
 |
 |      Returns:
 |          An input shape tuple.
 |
 |  get_initial_state(self, inputs)
 |
 |  reset_states(self, states=None)
 |      Reset the recorded states for the stateful RNN layer.
 |
 |      Can only be used when RNN layer is constructed with `stateful` = `True`.
 |      Args:
 |        states: Numpy arrays that contains the value for the initial state, which
 |          will be feed to cell at the first time step. When the value is None,
 |          zero filled numpy array will be created based on the cell state size.
 |
 |      Raises:
 |        AttributeError: When the RNN layer is not stateful.
 |        ValueError: When the batch size of the RNN layer is unknown.
 |        ValueError: When the input numpy array is not compatible with the RNN
 |          layer state, either size wise or dtype wise.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from keras.layers.recurrent.RNN:
 |
 |  states
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from keras.engine.base_layer.Layer:
 |
 |  __delattr__(self, name)
 |      Implement delattr(self, name).
 |
 |  __setattr__(self, name, value)
 |      Support self.foo = trackable syntax.
 |
 |  add_loss(self, losses, **kwargs)
 |      Add loss tensor(s), potentially dependent on layer inputs.
 |
 |      Some losses (for instance, activity regularization losses) may be dependent
 |      on the inputs passed when calling a layer. Hence, when reusing the same
 |      layer on different inputs `a` and `b`, some entries in `layer.losses` may
 |      be dependent on `a` and some on `b`. This method automatically keeps track
 |      of dependencies.
 |
 |      This method can be used inside a subclassed layer or model's `call`
 |      function, in which case `losses` should be a Tensor or list of Tensors.
 |
 |      Example:
 |
 |      ```python
 |      class MyLayer(tf.keras.layers.Layer):
 |        def call(self, inputs):
 |          self.add_loss(tf.abs(tf.reduce_mean(inputs)))
 |          return inputs
 |      ```
 |
 |      This method can also be called directly on a Functional Model during
 |      construction. In this case, any loss Tensors passed to this Model must
 |      be symbolic and be able to be traced back to the model's `Input`s. These
 |      losses become part of the model's topology and are tracked in `get_config`.
 |
 |      Example:
 |
 |      ```python
 |      inputs = tf.keras.Input(shape=(10,))
 |      x = tf.keras.layers.Dense(10)(inputs)
 |      outputs = tf.keras.layers.Dense(1)(x)
 |      model = tf.keras.Model(inputs, outputs)
 |      # Activity regularization.
 |      model.add_loss(tf.abs(tf.reduce_mean(x)))
 |      ```
 |
 |      If this is not the case for your loss (if, for example, your loss references
 |      a `Variable` of one of the model's layers), you can wrap your loss in a
 |      zero-argument lambda. These losses are not tracked as part of the model's
 |      topology since they can't be serialized.
 |
 |      Example:
 |
 |      ```python
 |      inputs = tf.keras.Input(shape=(10,))
 |      d = tf.keras.layers.Dense(10)
 |      x = d(inputs)
 |      outputs = tf.keras.layers.Dense(1)(x)
 |      model = tf.keras.Model(inputs, outputs)
 |      # Weight regularization.
 |      model.add_loss(lambda: tf.reduce_mean(d.kernel))
 |      ```
 |
 |      Args:
 |        losses: Loss tensor, or list/tuple of tensors. Rather than tensors, losses
 |          may also be zero-argument callables which create a loss tensor.
 |        **kwargs: Additional keyword arguments for backward compatibility.
 |          Accepted values:
 |            inputs - Deprecated, will be automatically inferred.
 |
 |  add_metric(self, value, name=None, **kwargs)
 |      Adds metric tensor to the layer.
 |
 |      This method can be used inside the `call()` method of a subclassed layer
 |      or model.
 |
 |      ```python
 |      class MyMetricLayer(tf.keras.layers.Layer):
 |        def __init__(self):
 |          super(MyMetricLayer, self).__init__(name='my_metric_layer')
 |          self.mean = tf.keras.metrics.Mean(name='metric_1')
 |
 |        def call(self, inputs):

In [169]:
help(inv_yhat.reshape)

Help on built-in function reshape:

reshape(...) method of numpy.ndarray instance
    a.reshape(shape, order='C')

    Returns an array containing the same data with a new shape.

    Refer to `numpy.reshape` for full documentation.

    See Also
    --------
    numpy.reshape : equivalent function

    Notes
    -----
    Unlike the free function `numpy.reshape`, this method on `ndarray` allows
    the elements of the shape parameter to be passed in as separate arguments.
    For example, ``a.reshape(10, 11)`` is equivalent to
    ``a.reshape((10, 11))``.

In [39]:
screened_list = []
stock_list = ['AAPL','TSLA','MSFT','AMZN']

for stock_code in stock_list:
    df = yf.download(stock_code, start='2020-01-01', threads= False)
    if enter_long | enter_short:
        screened_list.append(stock_code)
    
if screened_list:
  print(screened_list)
else:
  print('No stock fits the indicator entry requirement')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
['AAPL', 'TSLA', 'MSFT', 'AMZN']

In [15]:
help(mpf.plot)

Help on function plot in module mplfinance.plotting:

plot(data, **kwargs)
    Given a Pandas DataFrame containing columns Open,High,Low,Close and optionally Volume
    with a DatetimeIndex, plot the data.
    Available plots include ohlc bars, candlestick, and line plots.
    Also provide visually analysis in the form of common technical studies, such as:
    moving averages, renko, etc.
    Also provide ability to plot trading signals, and/or addtional user-defined data.

In [48]:
tickers = ['NFLX', 'AAPL', 'FB', 'GOOG', 'AMZN', 'PYPL', 'TSLA', 'SQ']

ticker_dict_1mo = {}
ticker_dict_1wk = {}
ticker_dict_1d = {}
for stock in tickers:
    ticker_dict_1mo[stock] = yf.Ticker(stock).history(period="10y", interval='1mo')
    ticker_dict_1mo[stock]["ticker"] = stock
    ticker_dict_1wk[stock] = yf.Ticker(stock).history(period="10y", interval='1wk')
    ticker_dict_1wk[stock]['ticker'] = stock
    ticker_dict_1d[stock] = yf.Ticker(stock).history(period="10y", interval='1d')
    ticker_dict_1d[stock]['ticker'] = stock
    
ticker_dict_1mo['AAPL']

daily_data = pd.concat(ticker_dict_1d.values())
daily_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
Date,,,,,,,,
2011-08-01,38.362858,38.500000,36.965714,37.625713,25886700,0.0,0.0,NFLX
2011-08-02,37.391430,38.228573,36.705715,36.742859,23356200,0.0,0.0,NFLX
2011-08-03,36.785713,37.357143,35.875713,37.142857,24917200,0.0,0.0,NFLX
2011-08-04,36.721428,37.181431,34.965714,35.110001,33214300,0.0,0.0,NFLX
2011-08-05,35.505714,35.838570,33.775715,34.444286,37859500,0.0,0.0,NFLX
...,...,...,...,...,...,...,...,...
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0.0,0.0,SQ
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0.0,0.0,SQ
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0.0,0.0,SQ
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0.0,0.0,SQ
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0.0,0.0,SQ

In [50]:
# calculate Bollinger Bands
m_avg_mo = {}
m_avg_wk = {}
m_avg_d = {}
m_std_mo = {}
m_std_wk = {}
m_std_d = {}

for stock in tickers:
    # moving average
    m_avg_mo[stock] = ticker_dict_1mo[stock]['Close'].rolling(window=length).mean()
    m_avg_wk[stock] = ticker_dict_1wk[stock]['Close'].rolling(window=length).mean()
    m_avg_d[stock] = ticker_dict_1d[stock]['Close'].rolling(window=length).mean()
    # standard deviation
    m_std_mo[stock] = ticker_dict_1mo[stock]['Close'].rolling(window=length).std(ddof=0)
    m_std_wk[stock] = ticker_dict_1wk[stock]['Close'].rolling(window=length).std(ddof=0)
    m_std_d[stock] = ticker_dict_1d[stock]['Close'].rolling(window=length).std(ddof=0)
    # upper Bollinger Bands
    ticker_dict_1mo[stock]['upper_BB'] = m_avg_mo[stock] + mult * m_std_mo[stock]
    ticker_dict_1wk[stock]['upper_BB'] = m_avg_wk[stock] + mult * m_std_wk[stock]
    ticker_dict_1d[stock]['upper_BB'] = m_avg_d[stock] + mult * m_std_d[stock]
# lower Bollinger Bands 
    ticker_dict_1mo[stock]['lower_BB'] = m_avg_mo[stock] - mult * m_std_mo[stock]
    ticker_dict_1wk[stock]['lower_BB'] = m_avg_wk[stock] - mult * m_std_wk[stock]
    ticker_dict_1d[stock]['lower_BB'] = m_avg_d[stock] - mult * m_std_d[stock]
    
ticker_dict_1d[stock]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,upper_BB,lower_BB
Date,,,,,,,,,,
2015-11-19,11.200000,14.780000,9.000000,13.070000,47466100,0,0,SQ,NaN,NaN
2015-11-20,13.920000,14.050000,12.500000,12.850000,16550300,0,0,SQ,NaN,NaN
2015-11-23,13.000000,13.150000,12.100000,12.120000,5172200,0,0,SQ,NaN,NaN
2015-11-24,12.000000,12.230000,11.520000,12.020000,4714700,0,0,SQ,NaN,NaN
2015-11-25,12.120000,12.400000,11.850000,11.900000,3583400,0,0,SQ,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0,0,SQ,262.966685,228.211315
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0,0,SQ,263.425565,228.265434
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0,0,SQ,264.740837,227.924161
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0,0,SQ,265.675565,228.137432
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0,0,SQ,265.802157,228.551839

In [51]:
# calculate Keltner Channel
range_ma_mo = {}
range_ma_wk = {}
range_ma_d = {}

for stock in tickers:
    # first we need to calculate True Range (monthly)
    ticker_dict_1mo[stock]['tr0'] = abs(ticker_dict_1mo[stock]["High"] - ticker_dict_1mo[stock]["Low"])
    ticker_dict_1mo[stock]['tr1'] = abs(ticker_dict_1mo[stock]["High"] - ticker_dict_1mo[stock]["Close"].shift())
    ticker_dict_1mo[stock]['tr2'] = abs(ticker_dict_1mo[stock]["Low"] - ticker_dict_1mo[stock]["Close"].shift())
    ticker_dict_1mo[stock]['tr'] = ticker_dict_1mo[stock][['tr0', 'tr1', 'tr2']].max(axis=1)
    
    # first we need to calculate True Range (weekly)
    ticker_dict_1wk[stock]['tr0'] = abs(ticker_dict_1wk[stock]["High"] - ticker_dict_1wk[stock]["Low"])
    ticker_dict_1wk[stock]['tr1'] = abs(ticker_dict_1wk[stock]["High"] - ticker_dict_1wk[stock]["Close"].shift())
    ticker_dict_1wk[stock]['tr2'] = abs(ticker_dict_1wk[stock]["Low"] - ticker_dict_1wk[stock]["Close"].shift())
    ticker_dict_1wk[stock]['tr'] = ticker_dict_1wk[stock][['tr0', 'tr1', 'tr2']].max(axis=1)
    
    # first we need to calculate True Range (daily)
    ticker_dict_1d[stock]['tr0'] = abs(ticker_dict_1d[stock]["High"] - ticker_dict_1d[stock]["Low"])
    ticker_dict_1d[stock]['tr1'] = abs(ticker_dict_1d[stock]["High"] - ticker_dict_1d[stock]["Close"].shift())
    ticker_dict_1d[stock]['tr2'] = abs(ticker_dict_1d[stock]["Low"] - ticker_dict_1d[stock]["Close"].shift())
    ticker_dict_1d[stock]['tr'] = ticker_dict_1d[stock][['tr0', 'tr1', 'tr2']].max(axis=1)

    # moving average of the TR
    range_ma_mo[stock] = ticker_dict_1mo[stock]['tr'].rolling(window=length_KC).mean()
    range_ma_wk[stock] = ticker_dict_1wk[stock]['tr'].rolling(window=length_KC).mean()
    range_ma_d[stock] = ticker_dict_1d[stock]['tr'].rolling(window=length_KC).mean()
    
    # upper Keltner Channel
    ticker_dict_1mo[stock]['upper_KC'] = m_avg_mo[stock] + range_ma_mo[stock] * mult_KC
    ticker_dict_1wk[stock]['upper_KC'] = m_avg_wk[stock] + range_ma_wk[stock] * mult_KC
    ticker_dict_1d[stock]['upper_KC'] = m_avg_d[stock] + range_ma_d[stock] * mult_KC
    
    # lower Keltner Channel
    ticker_dict_1mo[stock]['lower_KC'] = m_avg_mo[stock] - range_ma_mo[stock] * mult_KC
    ticker_dict_1wk[stock]['lower_KC'] = m_avg_wk[stock] - range_ma_wk[stock] * mult_KC
    ticker_dict_1d[stock]['lower_KC'] = m_avg_d[stock] - range_ma_d[stock] * mult_KC

ticker_dict_1d[stock]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,upper_BB,lower_BB,tr0,tr1,tr2,tr,upper_KC,lower_KC
Date,,,,,,,,,,,,,,,,
2015-11-19,11.200000,14.780000,9.000000,13.070000,47466100,0,0,SQ,NaN,NaN,5.780000,NaN,NaN,5.780000,NaN,NaN
2015-11-20,13.920000,14.050000,12.500000,12.850000,16550300,0,0,SQ,NaN,NaN,1.550000,0.980000,0.570000,1.550000,NaN,NaN
2015-11-23,13.000000,13.150000,12.100000,12.120000,5172200,0,0,SQ,NaN,NaN,1.049999,0.299999,0.750000,1.049999,NaN,NaN
2015-11-24,12.000000,12.230000,11.520000,12.020000,4714700,0,0,SQ,NaN,NaN,0.709999,0.110000,0.599999,0.709999,NaN,NaN
2015-11-25,12.120000,12.400000,11.850000,11.900000,3583400,0,0,SQ,NaN,NaN,0.549999,0.379999,0.170000,0.549999,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0,0,SQ,262.966685,228.211315,5.339996,1.739990,3.600006,5.339996,262.351668,228.826332
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0,0,SQ,263.425565,228.265434,16.802979,0.130005,16.932983,16.932983,263.485594,228.205405
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0,0,SQ,264.740837,227.924161,9.099991,8.139999,0.959991,9.099991,264.097355,228.567643
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0,0,SQ,265.675565,228.137432,7.299988,3.220001,4.079987,7.299988,264.817164,228.995834
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0,0,SQ,265.802157,228.551839,10.009995,0.919998,10.929993,10.929993,265.601948,228.752048

In [52]:
# check for 'squeeze'
for stock in tickers:
    #monthly
    ticker_dict_1mo[stock]['squeeze_on'] = (ticker_dict_1mo[stock]['lower_BB'] > ticker_dict_1mo[stock]['lower_KC']) | (ticker_dict_1mo[stock]['upper_BB'] < ticker_dict_1mo[stock]['upper_KC'])
    ticker_dict_1mo[stock]['squeeze_off'] = (ticker_dict_1mo[stock]['lower_BB'] < ticker_dict_1mo[stock]['lower_KC']) | (ticker_dict_1mo[stock]['upper_BB'] > ticker_dict_1mo[stock]['upper_KC'])
    
    #weekly
    ticker_dict_1wk[stock]['squeeze_on'] = (ticker_dict_1wk[stock]['lower_BB'] > ticker_dict_1wk[stock]['lower_KC']) | (ticker_dict_1wk[stock]['upper_BB'] < ticker_dict_1wk[stock]['upper_KC'])
    ticker_dict_1wk[stock]['squeeze_off'] = (ticker_dict_1wk[stock]['lower_BB'] < ticker_dict_1wk[stock]['lower_KC']) | (ticker_dict_1wk[stock]['upper_BB'] > ticker_dict_1wk[stock]['upper_KC'])
    
    #daily
    ticker_dict_1d[stock]['squeeze_on'] = (ticker_dict_1d[stock]['lower_BB'] > ticker_dict_1d[stock]['lower_KC']) | (ticker_dict_1d[stock]['upper_BB'] < ticker_dict_1d[stock]['upper_KC'])
    ticker_dict_1d[stock]['squeeze_off'] = (ticker_dict_1d[stock]['lower_BB'] < ticker_dict_1d[stock]['lower_KC']) | (ticker_dict_1d[stock]['upper_BB'] > ticker_dict_1d[stock]['upper_KC'])
    
ticker_dict_1d[stock]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,upper_BB,lower_BB,tr0,tr1,tr2,tr,upper_KC,lower_KC,squeeze_on,squeeze_off
Date,,,,,,,,,,,,,,,,,,
2015-11-19,11.200000,14.780000,9.000000,13.070000,47466100,0,0,SQ,NaN,NaN,5.780000,NaN,NaN,5.780000,NaN,NaN,False,False
2015-11-20,13.920000,14.050000,12.500000,12.850000,16550300,0,0,SQ,NaN,NaN,1.550000,0.980000,0.570000,1.550000,NaN,NaN,False,False
2015-11-23,13.000000,13.150000,12.100000,12.120000,5172200,0,0,SQ,NaN,NaN,1.049999,0.299999,0.750000,1.049999,NaN,NaN,False,False
2015-11-24,12.000000,12.230000,11.520000,12.020000,4714700,0,0,SQ,NaN,NaN,0.709999,0.110000,0.599999,0.709999,NaN,NaN,False,False
2015-11-25,12.120000,12.400000,11.850000,11.900000,3583400,0,0,SQ,NaN,NaN,0.549999,0.379999,0.170000,0.549999,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0,0,SQ,262.966685,228.211315,5.339996,1.739990,3.600006,5.339996,262.351668,228.826332,False,True
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0,0,SQ,263.425565,228.265434,16.802979,0.130005,16.932983,16.932983,263.485594,228.205405,True,False
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0,0,SQ,264.740837,227.924161,9.099991,8.139999,0.959991,9.099991,264.097355,228.567643,False,True
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0,0,SQ,265.675565,228.137432,7.299988,3.220001,4.079987,7.299988,264.817164,228.995834,False,True
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0,0,SQ,265.802157,228.551839,10.009995,0.919998,10.929993,10.929993,265.601948,228.752048,False,True

In [53]:
# Momentum
highest_mo = {}
highest_wk = {}
highest_d = {}
lowest_mo = {}
lowest_wk = {}
lowest_d = {}
m1_mo = {}
m1_wk = {}
m1_d = {}
fit_y_mo = {}
fit_y_wk = {}
fit_y_d = {}


for stock in tickers:
    #monthly
    highest_mo[stock] = ticker_dict_1mo[stock]['High'].rolling(window = length_KC).max()
    lowest_mo[stock] = ticker_dict_1mo[stock]['Low'].rolling(window = length_KC).min()
    m1_mo[stock] = (highest_mo[stock] + lowest_mo[stock]) / 2
    ticker_dict_1mo[stock]['value'] = (ticker_dict_1mo[stock]['Close'] - (m1_mo[stock] + m_avg_mo[stock])/2)
    fit_y_mo[stock] = np.array(range(0,length_KC))
    ticker_dict_1mo[stock]['value'] = ticker_dict_1mo[stock]['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_mo[stock], x, 1)[0] * (length_KC-1) +
    np.polyfit(fit_y_mo[stock], x, 1)[1], raw=True)
    
    #weekly
    highest_wk[stock] = ticker_dict_1wk[stock]['High'].rolling(window = length_KC).max()
    lowest_wk[stock] = ticker_dict_1wk[stock]['Low'].rolling(window = length_KC).min()
    m1_wk[stock] = (highest_wk[stock] + lowest_wk[stock]) / 2
    ticker_dict_1wk[stock]['value'] = (ticker_dict_1wk[stock]['Close'] - (m1_wk[stock] + m_avg_wk[stock])/2)
    fit_y_wk[stock] = np.array(range(0,length_KC))
    ticker_dict_1wk[stock]['value'] = ticker_dict_1wk[stock]['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_wk[stock], x, 1)[0] * (length_KC-1) +
    np.polyfit(fit_y_wk[stock], x, 1)[1], raw=True)
    
    #daily
    highest_d[stock] = ticker_dict_1d[stock]['High'].rolling(window = length_KC).max()
    lowest_d[stock] = ticker_dict_1d[stock]['Low'].rolling(window = length_KC).min()
    m1_d[stock] = (highest_d[stock] + lowest_d[stock]) / 2
    ticker_dict_1d[stock]['value'] = (ticker_dict_1d[stock]['Close'] - (m1_d[stock] + m_avg_d[stock])/2)
    fit_y_d[stock] = np.array(range(0,length_KC))
    ticker_dict_1d[stock]['value'] = ticker_dict_1d[stock]['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_d[stock], x, 1)[0] * (length_KC-1) +
    np.polyfit(fit_y_d[stock], x, 1)[1], raw=True)
    
ticker_dict_1d[stock]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,upper_BB,lower_BB,tr0,tr1,tr2,tr,upper_KC,lower_KC,squeeze_on,squeeze_off,value
Date,,,,,,,,,,,,,,,,,,,
2015-11-19,11.200000,14.780000,9.000000,13.070000,47466100,0,0,SQ,NaN,NaN,5.780000,NaN,NaN,5.780000,NaN,NaN,False,False,NaN
2015-11-20,13.920000,14.050000,12.500000,12.850000,16550300,0,0,SQ,NaN,NaN,1.550000,0.980000,0.570000,1.550000,NaN,NaN,False,False,NaN
2015-11-23,13.000000,13.150000,12.100000,12.120000,5172200,0,0,SQ,NaN,NaN,1.049999,0.299999,0.750000,1.049999,NaN,NaN,False,False,NaN
2015-11-24,12.000000,12.230000,11.520000,12.020000,4714700,0,0,SQ,NaN,NaN,0.709999,0.110000,0.599999,0.709999,NaN,NaN,False,False,NaN
2015-11-25,12.120000,12.400000,11.850000,11.900000,3583400,0,0,SQ,NaN,NaN,0.549999,0.379999,0.170000,0.549999,NaN,NaN,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0,0,SQ,262.966685,228.211315,5.339996,1.739990,3.600006,5.339996,262.351668,228.826332,False,True,6.191452
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0,0,SQ,263.425565,228.265434,16.802979,0.130005,16.932983,16.932983,263.485594,228.205405,True,False,5.953682
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0,0,SQ,264.740837,227.924161,9.099991,8.139999,0.959991,9.099991,264.097355,228.567643,False,True,7.558891
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0,0,SQ,265.675565,228.137432,7.299988,3.220001,4.079987,7.299988,264.817164,228.995834,False,True,8.683158
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0,0,SQ,265.802157,228.551839,10.009995,0.919998,10.929993,10.929993,265.601948,228.752048,False,True,7.959958

In [54]:
long_cond1_mo = {}
long_cond2_mo = {}
enter_long_mo = {}
short_cond1_mo = {}
short_cond2_mo = {}
enter_short_mo = {}
long_cond1_wk = {}
long_cond2_wk = {}
enter_long_wk = {}
short_cond1_wk = {}
short_cond2_wk = {}
enter_short_wk = {}
long_cond1_d = {}
long_cond2_d = {}
enter_long_d = {}
short_cond1_d = {}
short_cond2_d = {}
enter_short_d = {}

for stock in tickers:
    #monthly
    # entry point for long position:
    # 1. black cross becomes gray (the squeeze is released)
    long_cond1_mo[stock] = (ticker_dict_1mo[stock]['squeeze_off'][-2] == False) | (ticker_dict_1mo[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is positive => the bar is light green
    long_cond2_mo[stock] = ticker_dict_1mo[stock]['value'][-1] > 0

    enter_long_mo[stock] = long_cond1_mo[stock] and long_cond2_mo[stock]
    # entry point for short position:
    # 1. black cross becomes gray (the squeeze is released)
    short_cond1_mo[stock] = (ticker_dict_1mo[stock]['squeeze_off'][-2] == False) | (ticker_dict_1mo[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is negative => the bar is light red 
    short_cond2_mo[stock] = ticker_dict_1mo[stock]['value'][-1] < 0
    enter_short_mo[stock] = short_cond1_mo[stock] and short_cond2_mo[stock]
    
    #weekly
    # entry point for long position:
    # 1. black cross becomes gray (the squeeze is released)
    long_cond1_wk[stock] = (ticker_dict_1wk[stock]['squeeze_off'][-2] == False) | (ticker_dict_1wk[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is positive => the bar is light green
    long_cond2_wk[stock] = ticker_dict_1wk[stock]['value'][-1] > 0

    enter_long_wk[stock] = long_cond1_wk[stock] and long_cond2_wk[stock]
    # entry point for short position:
    # 1. black cross becomes gray (the squeeze is released)
    short_cond1_wk[stock] = (ticker_dict_1wk[stock]['squeeze_off'][-2] == False) | (ticker_dict_1wk[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is negative => the bar is light red 
    short_cond2_wk[stock] = ticker_dict_1wk[stock]['value'][-1] < 0
    enter_short_wk[stock] = short_cond1_wk[stock] and short_cond2_wk[stock]
    
    #daily
    # entry point for long position:
    # 1. black cross becomes gray (the squeeze is released)
    long_cond1_d[stock] = (ticker_dict_1d[stock]['squeeze_off'][-2] == False) | (ticker_dict_1d[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is positive => the bar is light green
    long_cond2_d[stock] = ticker_dict_1d[stock]['value'][-1] > 0

    enter_long_d[stock] = long_cond1_d[stock] and long_cond2_d[stock]
    # entry point for short position:
    # 1. black cross becomes gray (the squeeze is released)
    short_cond1_d[stock] = (ticker_dict_1d[stock]['squeeze_off'][-2] == False) | (ticker_dict_1d[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is negative => the bar is light red 
    short_cond2_d[stock] = ticker_dict_1d[stock]['value'][-1] < 0
    enter_short_d[stock] = short_cond1_d[stock] and short_cond2_d[stock]

In [55]:
ohcl_mo = {}
ohcl_wk = {}
ohcl_d = {}

for stock in tickers:
    ohcl_mo[stock] = ticker_dict_1mo[stock][['Open', 'High', 'Close', 'Low']]
    ohcl_wk[stock] = ticker_dict_1wk[stock][['Open', 'High', 'Close', 'Low']]
    ohcl_d[stock] = ticker_dict_1d[stock][['Open', 'High', 'Close', 'Low']]
    
ohcl_d[stock]

                  Open        High       Close         Low
Date
2015-11-19   11.200000   14.780000   13.070000    9.000000
2015-11-20   13.920000   14.050000   12.850000   12.500000
2015-11-23   13.000000   13.150000   12.120000   12.100000
2015-11-24   12.000000   12.230000   12.020000   11.520000
2015-11-25   12.120000   12.400000   11.900000   11.850000
...                ...         ...         ...         ...
2021-07-26  264.970001  265.739990  261.989990  260.399994
2021-07-27  261.279999  261.859985  251.729996  245.057007
2021-07-28  254.029999  259.869995  258.609985  250.770004
2021-07-29  255.509995  261.829987  255.279999  254.529999
2021-07-30  249.279999  254.360001  247.259995  244.350006

[1433 rows x 4 columns]

In [56]:
ind_mo = {}
val_mo = {}
ind_wk = {}
val_wk = {}
ind_d = {}
val_d = {}

for stock in tickers:
    # add colors for the 'value bar'
    colors_d = []
    for ind_d[stock], val_d[stock] in enumerate(ticker_dict_1d[stock]['value']):
        if val_d[stock] >= 0:
            color_d = 'blue'
        if val_d[stock] > ticker_dict_1d[stock]['value'][ind_d[stock]-1]:
            color_d = 'cyan'
        else:
            color_d = 'yellow'
        if val_d[stock] < ticker_dict_1d[stock]['value'][ind_d[stock]-1]:
            color_d='red'
        colors_d.append(color)
        
    #colors_mo = []
    #for ind_mo[stock], val_mo[stock] in enumerate(ticker_dict_1mo[stock]['value']):
       # if val_mo[stock] >= 0:
            #color_mo = 'green'
        #if val_mo[stock] > ticker_dict_1mo[stock]['value'][ind_mo[stock]-1]:
           # color_mo = 'lime'
       # else:
            #color_mo = 'maroon'
        #if val_mo[stock] < ticker_dict_1mo[stock]['value'][ind_mo[stock]-1]:
           # color_mo='red'
      #  colors_mo.append(color)

In [57]:
import panel as pn
from panel.interact import interact

pn.extension()

def figure_stock_d(stock):
    apds = [mpf.make_addplot(ticker_dict_1d[stock]['value'], panel=1, type='bar', color=colors_d, alpha=0.8, secondary_y=False),
            mpf.make_addplot([0] * len(ticker_dict_1d[stock]), panel=1, type='scatter', marker='o', markersize=50, color=['gray' if s else 'red' for s in ticker_dict_1d[stock]['squeeze_off']], secondary_y=False),
            mpf.make_addplot(ticker_dict_1d[stock][['upper_BB']], color = 'red'),
            mpf.make_addplot(ticker_dict_1d[stock][['lower_BB']], color = 'red'),
            mpf.make_addplot(ticker_dict_1d[stock][['upper_KC']], color = 'blue'),
            mpf.make_addplot(ticker_dict_1d[stock][['lower_KC']], color = 'blue')]

    # plot ohcl with subplots
    fig, axes = mpf.plot(ohcl_d[stock], 
              volume_panel = 2,
              figratio=(2,1),
              figscale=1,
              mav = (8,21,34),
              type='candle', 
              addplot=apds,
              returnfig=True)
    return pn.pane.Matplotlib(fig, tight=True)

ticker = daily_data["ticker"].unique()
interact(figure_stock_d, stock=ticker)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Column
    [0] Column
        [0] Select(name='stock', options=['NFLX', 'AAPL', ...], value='NFLX')
    [1] Row
        [0] Matplotlib(Figure, tight=True)